[2020-02-14 10:16] Kyoss79 opened #11 "Angular9 Cannot read property formatString"
Hey Daniel,
first of thanks for porting this to Angular9! Big thumbs up.
Almost Everything seems to be working fine,
however when I load up a form with an already existing date-value,
I get the following error:

TypeError: Cannot read property 'formatString' of undefined
    at OwlDateTimeInputDirective.formatNativeInputValue (danielmoncada-angular-datetime-picker.js:3371)
    at OwlDateTimeInputD

[2020-02-14 10:35] Kyoss79 commented on #11
I fixed it with the following code ... but I'd rather not:
`this.renderer.setProperty(this.elmRef.nativeElement, 'value', this._value
                ? this.dateTimeAdapter.format(this._value, this.dtPicker && this.dtPicker.formatString)
                : '');`

[2020-02-14 16:54] dvkudashev opened #12 "zone.js:699 Unhandled Promise rejection: Missing locale data for the locale "ru""

[2020-02-14 18:11] danielmoncada commented on #11
@Kyoss79  thanks for the support.

Let me look into this, and get back to you. I'm aiming for a fix and package update this weekend.

[2020-02-14 18:12] danielmoncada commented on #12
@dvkudashev  any more info on this? Can you update the description of the issue and copy/paste the error?

[2020-02-14 18:37] dvkudashev commented on #12
If you want to import locale data for other languages, you can do it manually:

[2020-02-14 18:49] #12 closed

[2020-02-14 18:49] dvkudashev commented on #12
src/app/app.module.ts

import { registerLocaleData } from '@angular/common';
import localeRu from '@angular/common/locales/ru';

// the second parameter 'ru' is optional
registerLocaleData(localeRu, 'ru');

[2020-02-15 02:31] danielmoncada commented on #11
@Kyoss79 is there any way you can provide a StackBlitz to reproduce the issue? I'm having trouble getting that error.

Also are try using the **OWL_DATE_TIME_LOCALE** instead of the Angular **LOCALE_ID**.

[code]

[2020-02-15 14:15] Spirka opened #13 "Can't install. Failed to compile."
Hello.
When I tried to install this module and use it I catch the

    node_modules/@angular/cdk/a11y/focus-trap/focus-trap.d.ts(30,9): error TS1086: An accessor cannot be declared in an ambient context.
    node_modules/@angular/cdk/a11y/focus-trap/focus-trap.d.ts(128,9): error TS1086: An accessor cannot be declared in an ambient context.
    node_modules/@angular/cdk/a11y/focus-trap/focus-trap.d

[2020-02-15 18:02] danielmoncada commented on #13
@Spirka what version of Angular and TypeScript are you using?

Try updating TypeScript to 3.7.4.

[code]

[2020-02-17 03:20] martinbianchi opened #14 "Moment support"
Hi Daniel thank you for reactivate the project.
I've been using ng-pick-datetime with moment, so I had to install ng-pick-datetime. At the moment the library is throwing errors because they expect to import things from the old library.

There are a way to fix this and continue using moment?

[2020-02-17 04:08] danielmoncada commented on #14
@martinbianchi you will need to uninstall the old components. This new version has the moment adapter as part of it.

The adapter it called:

[2020-02-17 04:09] danielmoncada commented on #13
@Spirka  checking in to see if upgrading TypeScript fixed your compilation issue.

[2020-02-17 06:32] Spirka commented on #13
Angular version
"@angular/animations": "^8.2.14",
    "@angular/cdk": "^9.0.0",
    "@angular/common": "~8.2.14",
    "@angular/compiler": "~9.0.1",
TypeScript version
"typescript": "~3.7.4"
I'm trying to do it, but some file in the project stubbornly prevents me from rolling back the version.
After I executed the command npm i typescript@3.7.4 --save
npm update and ng serve I've got ERROR in The

[2020-02-17 08:18] danielmoncada commented on #13
@Spirka sounds like your Angular CLI needs to be updated too.

What version of Angular are your running? Try updating to Angular 9.

https://update.angular.io/

[2020-02-17 08:31] jcompagner commented on #13
@Spirka you seem to be mixing all kinds of stuff.. i see some angular 8 stuff but other stuff is 9 again this is how it looks to me:

"@angular/animations": "^9.0.1",
    "@angular/cdk": "^9.0.0",
    "@angular/common": "^9.0.1",
    "@angular/compiler": "^9.0.1",
    "@angular/core": "^9.0.1",
    "@angular/forms": "^9.0.1",
    "@angular/localize": "^9.0.1",
    "@angular/platform-browser": "^9.

[2020-02-17 08:33] Spirka commented on #13
I can’t update Angular because other projects related to mine will break(

[2020-02-17 09:27] Kyoss79 commented on #11
Hello daniel!
Thanks for your fast feedback. I tried replicating the issue, but could not. Our app is very complicated.
However I have to provide the LOCALE_ID in angular, or otherwise the datePicker does not format the dates correctly.

I was however able to fix the issue on our side of the application.

We had intialized the formValue twice it seems as in
`[formControlName]="myFormCtrl" [value]=

[2020-02-17 09:49] Spirka commented on #13
Can I somehow put it on 8 Angular?

[2020-02-17 12:09] jcompagner commented on #13
i think that should work, (you can always move back to the source one)
But you mix, i do see "9.0.x" stuff in your package json (cdk, compiler)
keep then everything on 8 and also use the typescript supported by 8 (

[2020-02-17 20:27] martinbianchi commented on #14
Great! thank you!

[2020-02-17 20:27] #14 closed

[2020-02-18 02:46] danielmoncada commented on #11
@Kyoss79 thanks for the update and clarification with the example.
Glad you got it working on your side. I'm going to go ahead and close this.

Cheers! 👍

[2020-02-18 02:46] #11 closed

[2020-02-20 18:11] danielmoncada commented on #13
@jcompagner  thanks for the comments / help for @Spirka .

@Spirka  did you get this working?

[2020-02-25 13:12] mdelez commented on #13
@jcompagner I'm also running into the same issue as @Spirka. My project is using Angular 8 with this setup:
`"@angular/animations": "~8.2.14",`
`"@angular/cdk": "^8.2.3",`
`"@angular/common": "~8.2.14",`
`"@angular/compiler": "~8.2.14",`
`"@angular/core": "~8.2.14",`
`"@angular/forms": "~8.2.14",`
`"@angular/material": "^8.2.3",`
`"@angular/platform-browser": "~8.2.14",`
`"@angular/platform-browse

[2020-02-25 13:26] jcompagner commented on #13
this could be tricky, not sure if you can compile a lib with different typescript version (or compile it so that it has a lower as target)
the error: TS1086: An accessor cannot be declared in an ambient context. (if that is what you get)
seems to be using typescript 3.7 compiled code in a lower typescript compiler..
At least thats my understanding, for now i would if you need Angular 8 then stick

[2020-02-25 13:35] jcompagner commented on #13
https://github.com/storybookjs/storybook/pull/9847

[2020-02-25 14:09] mdelez commented on #13
That's a bit unfortunate since the original version seems to have been left in the dust. I think for now I'll use some basic components until we upgrade our project to Angular 9 and then I'll try this solution again.

Thanks for the quick response :)

[2020-02-28 02:48] Crocsx commented on #13
I have the same problem, using

`"typescript": "~3.5.3"`
`    "@angular/animations": "^8.2.14",
    "@angular/cdk": "^8.2.3",
    "@angular/common": "~8.2.14",
    "@angular/compiler": "~8.2.14",
    "@angular/core": "^8.2.14",
    "@angular/forms": "^8.2.14",
    "@angular/material": "^8.2.3",
    "@angular/platform-browser": "^8.2.14",
    "@angular/platform-browser-dynamic": "^8.2.14",
    "@an

[2020-02-28 08:13] khurramIlyas opened #16 "MY_MOMENT_FORMATS: parseInput is not working"
I am setting following formats but `parseInput` is not working for me. I expect that value that I will receive in my form control will be as per format provided in `parseInt `but it always set value in a different format.

Actually, I want to have different date formats for display & actual value that will be passed to form control.
[code]

[2020-02-28 10:56] iamakashaher opened #17 "Cant edit Hour and minute in input field"
I've implemented an owl-date-time picker but I've issue while entering hours and seconds manually.
I always need to click on up and down arrows.

[code]

[2020-02-28 12:40] decline opened #18 "Error when building with AOT in Angular 8.2"
Hi, I'm getting the following error when building my application with AOT:

[code]

I'm using the following package versions:

* @danielmoncada/angular-datetime-picker@9.2.0
* @angular/core@8.2.14
* typescript@3.4.5

Any idea how to fix this?

[2020-02-28 12:48] jcompagner commented on #18
if you still use angular 8 its better to keep using for now: https://github.com/DanielYKPan/date-time-picker

[2020-03-02 01:49] danielmoncada commented on #18
@decline yes, I agree. It seems with all the updates to ng9 for this package (and working with Ivy), there's dependencies issues. I would continue to work with the original until you can upgrade to ng9.

[2020-03-02 02:02] danielmoncada commented on #17
@iamakashaher what's the issue / error you are getting? I cannot reproduce this using the demo

[2020-03-02 02:17] danielmoncada commented on #16
Have you provided a custom 'CustomDateTimeAdapter'?

[2020-03-02 02:25] danielmoncada commented on #13
@Crocsx right now, yes, it appears that ng8 typescript versions are not compiling with this package (as it's targeted to use ng9 typescript). I would suggest to use the original forked package (https://github.com/DanielYKPan/date-time-picker).

[2020-03-02 02:25] #18 closed

[2020-03-02 02:26] danielmoncada commented on #18
Closing. Ng8 build support / discussion is already being discussed in the following: https://github.com/danielmoncada/date-time-picker/issues/13

[2020-03-02 03:20] Crocsx commented on #13
Ok noted, thanks for updating the readme

[2020-03-02 05:49] iamakashaher commented on #17
my edit date time is not working, i've to click on arrow to set time

[2020-03-02 15:24] danielmoncada commented on #17
@iamakashaher is there anyway you can reproduce this so I can test out?
I can't seem to reproduce it.

Also, are there any console errors?

[2020-03-03 11:53] Avejack opened #20 "Error: Target entry-point has missing dependencies"
Hey I tried to use this package with the native Adapter (instead of the moment adapter) but with Angular 9 (the ivy renderer) I get this error when trying to ng serve my project:

[code]

So I guess even though I don't import the moment adapter your package still suggests that it depends on momentjs?

My implementation:
[code]

In the template:
[code]

[2020-03-03 12:30] iamakashaher commented on #17
**I'm not able to edit these fields directly!
Every time I click on that up-down arrows to set time.**

![imageedit_2_3827549220](https://user-images.githubusercontent.com/44964180/75775791-be657400-5d78-11ea-88fe-10e4f215db3c.gif)

[2020-03-03 15:12] danielmoncada commented on #20
@Avejack yes. That's because the package itself also come with the Moment adapter (along with the Native adapter) you are using. The original author had first separated these, but decided to add the adapters as part of the actual data/time picker package (I'm assuming for ease / maintainability).

[2020-03-03 15:36] Avejack commented on #20
Do you plan to remove this behavior in the future? I mean not the moment adapter but the dependency for it even though i don't want to use momentjs in my project?

Angular seems to be able to do it too since they have the same structure with the native and moment adapters but I am not forced to add momentjs to my dependencies if I don't want to use momentjs.

[2020-03-03 16:52] danielmoncada commented on #20
@Avejack , yeah, I'll flag that is a todo.

Feel free to make a PR if you want to take a look 👍

[2020-03-03 16:55] danielmoncada commented on #17
@iamakashaher right, I understand the problem. I'm asking if there are any browser console errors? If you are using chrome, bring up the dev tools console, then try editing the date/time manually.

[2020-03-03 19:15] Avejack commented on #20
nvm, the Angular Material Team has both Adapters separated as well.

This is the import structure:

[code]

Since normally you only install @angular/material there is no dependency of momentjs. As soon as you use the @angular/material-moment-adapter package momentjs gets a dependency.

Would be nice if this package would handle it the same way but I can understand that it could be annoying to main

[2020-03-04 07:11] iamakashaher commented on #17
Hi @danielmoncada,

I checked the console for errors but I didn't find any error. is there anything which can override its properties.

[2020-03-10 21:35] AndersTornkvist commented on #20
What about using a secondary entry point for the moment adapter? https://github.com/ng-packagr/ng-packagr/blob/master/docs/secondary-entrypoints.md I am afraid this wouldn't be backward compatible, since the moment adapter import would need to be updated to the secondary entry point, i.e. `import { OwlMomentDateTimeModule } from '@danielmoncada/angular-datetime-picker';` would need to be updated t

[2020-03-11 15:42] tanganellilore opened #24 "Error on Angular 9"
Hi,
i see your repo on issue of ng-date-time-picker.
I try to use it in my Angular 9 project but I recive an error when I click on input field to open popup calendar.

The error that I recive is :
 `ERROR Error: No component factory found for OwlDateTimeContainerComponent. Did you add it to @NgModule.entryComponents`

I reproduce the issue on this link: [HERE](https://codesandbox.io/s/nostalgic-ha

[2020-03-13 09:47] AndersTornkvist commented on #24
I believe the regression was in commit 76a25fd45985b5a187538c8f785108e813583118. Probably only non-Ivy projects are affected.   @tanganellilore Are you using Ivy in your project? You would probably see that you opted out by using ` "enableIvy": false` in tsconfig.app.json.

[2020-03-13 11:52] tanganellilore commented on #24
Hi @AndersTornkvist , thanks for your replay but I don't have the option as you mentioned into my tsconfig file.

I use Angular 9 with webpack and some loaders.
here my tsconfig:
[code]

here my webpack.config:

[code]

two files are in the same level.
I tried to put the object below in tsconfig but in any case (option true/false) nothing change.

[code]

You see something wrong?

[2020-03-13 12:30] AndersTornkvist commented on #24
@tanganellilore Could you try downgrading to version 9.2.0 `npm i --save @danielmoncada/angular-datetime-picker@9.2.0` and see if that solves the problem? Here's an updated sandbox (downgraded and added BrowserAnimationsModule): https://codesandbox.io/s/stupefied-hofstadter-ww7xq

[2020-03-13 13:56] tanganellilore commented on #24
Hi @AndersTornkvist ,
with version 9.2.0 works fine the standard implementation.
but if I use a custom locale format not work like other library and I recive an error  related to locale not imported.
I use this code to fix it but I'm not sure that all is fine:

[code]
and after use the

```{provide: OWL_DATE_TIME_LOCALE, useValue: 'it'}```  for set the correct language of timepicker

example [here

[2020-03-13 15:09] danielmoncada commented on #24
Closing per https://github.com/danielmoncada/date-time-picker/pull/25.

Fix will be in new version.

[2020-03-13 15:09] #24 closed

[2020-03-20 13:47] sasmj opened #28 "Date Formatting Issues"
The question below was originally posted on https://github.com/DanielYKPan/date-time-picker/issues/687, but I'm guessing that's now dead. Some comments in the project, led me here. Any help would be greatly appreciated.

We are on Angular version 6.

I've been stuck on the following issues for a while now and not sure what else to try. I need a the date time format to be in yyyy-MM-dd HH:mm. I hav

[2020-03-20 14:49] newsash opened #29 "Scroll strategies"
Could you please make `overlay` in the `OwlDateTimeComponent` public?
https://github.com/danielmoncada/date-time-picker/blob/master/projects/picker/src/lib/date-time/date-time-picker.component.ts#L298

Use case:
`<owl-date-time #dt [scrollStrategy]="dt.overlay.scrollStrategies.reposition()"></owl-date-time>`

[2020-03-20 17:54] danielmoncada commented on #29
@newsash yeah I'll do that

[2020-03-20 18:08] #29 closed

[2020-03-20 18:08] danielmoncada commented on #29
See https://github.com/danielmoncada/date-time-picker/pull/30

[2020-03-20 18:12] danielmoncada commented on #13
Closing. If you need > Ng9 support please stick with: https://github.com/DanielYKPan/date-time-picker

[2020-03-20 18:12] #13 closed

[2020-04-01 13:22] petemcwilliams commented on #20
As a workaround including moment as a dev dependency does not raise the error

npm install moment --save-dev

[2020-04-08 15:25] gongAll opened #33 "Locales Are Not Working As Before"
I changed from the main repo for this one with a working translatable date time picker. Right now, translations seem to not be working. Please fix this. :)

[code]

[2020-04-08 15:39] danielmoncada commented on #33
@gongAll  thanks, I'll flag this to take a look

[2020-04-08 15:53] gongAll commented on #33
after reading this: https://angular.io/guide/i18n I understood that "pt-BR" is now only "pt", its not an error on your side! Closing for that reason. Might make sense to make it explicit that the locale keys are the ones from angular common on the component documentation tho.

Cheers, and thank you for the fork!

[2020-04-08 15:53] #33 closed

[2020-04-08 16:30] danielmoncada commented on #33
@gongAll thanks for the quick update. Yes, I agree, will update the documentation.

[2020-04-09 05:37] dhavalsolankislk opened #34 "Issue when time picker value change"
Hello,

We are using date-time-picker in our application. We have a problem that when we are facing a issue that when we are changing time picker value and click on set button with in  500ms the value is not reflected. So in the datepicker text field value of minutes or hour which we have set remains as it is and the new value is not reflected.

[2020-04-09 06:35] ShukinDmitriy opened #35 "Styling days inside the calendar"
Hi! I would like to mark working days and weekends with color in the calendar. To do this, you just need to be able to set a class for each of the days in the calendar.

/projects/picker/src/lib/date-time/calendar-month-view.component.ts
[code]

if you add the ability to specify additional classes to this code, this would solve my problem.

[2020-04-15 05:35] xavierclotet commented on #20
we don't want to install moment if we don't use it. Please fix it if you can.

[2020-04-15 07:49] petemcwilliams commented on #20
That's a separate issue, but you might have some luck with the following.

[code]

[2020-04-22 13:29] BO41 opened #36 "Typo in example"
On https://daniel-projects.firebaseapp.com/owlng/date-time-picker/#locale-formats at the second example there is a typo:
[code]

`dateAdapter` should be `dateTimeAdapter` as declared above

[2020-04-24 14:43] qwe12e opened #38 "Using dayjs for date-time-adapter"
Currently i created a date-time-adapter with dayjs and i want to remove moment. I'm not using moment-adapter but while building the project it gives me error.

![image](https://user-images.githubusercontent.com/13543079/80224854-f9867400-8652-11ea-9b24-17f8e32b8feb.png)

Can you make moment-adapter optional package like material' date-picker did.

[2020-04-30 04:33] danielmoncada commented on #36
thanks for the submission. Unfortunately, i do not have access to the original author's demo code that is hosted on firebase, so any issues there cannot be changed.

[2020-04-30 04:33] #36 closed

[2020-04-30 04:33] danielmoncada commented on #36
Closing, as this cannot be fixed. If time permits, a new hosted demo with this fork should be done.

[2020-04-30 04:35] danielmoncada commented on #38
There's an issue open to resolve the moment dependency if it is not being used.

See https://github.com/danielmoncada/date-time-picker/issues/20

[2020-04-30 04:35] #38 closed

[2020-05-06 07:10] kamlesh0606 commented on #34
@danielmoncada  - Any Update ?

[2020-05-06 07:27] danielmoncada commented on #34
@dhavalsolankislk is the new value reflected AFTER 500ms?

[2020-05-06 07:30] dhavalsolankislk commented on #34
@danielmoncada
New value is reflected after 1000ms

[2020-05-06 07:32] danielmoncada commented on #34
Okay, thanks @dhavalsolankislk . I'll look into this later today (it's almost 1AM here).
Any reason why you need to have it reflect right away?

[2020-05-06 07:51] dhavalsolankislk commented on #34
@danielmoncada
We need to reflect right away as here text field of minute and set button is very near, so our client instantly click on set button after setting value of minutes within 500ms

Attaching the snap of it
![date](https://user-images.githubusercontent.com/59446200/81149727-64617480-8f9c-11ea-9d0b-1410f23d2eff.PNG)

[2020-05-07 08:31] dhavalsolankislk opened #39 "Issue When mulitple date picker in same screen"
Hello,
We are using date picker in our application. We are facing problem when our screen height is small

Our normal screen with two date picker is
![Capture1](https://user-images.githubusercontent.com/59446200/81272049-8e816800-906a-11ea-9f7c-199eba22697d.PNG)

Here when we click on left side date picker date picker opens as shown below
![Capture2](https://user-images.githubusercontent.com/59446

[2020-05-07 09:09] dhavalsolankislk opened #40 "Pophover close when selecting date inside the pophover"
Hello,
We are using ngbPopover as pop-box.
And inside pop-box we put Date picker
On click of date picker open date selection pop box then selection of date main popbox is close.

Here in popHover we have added properties [autoClose]="'outside'"
Issue : On selection of date in date picker not close main popover box.

![Capture4](https://user-images.githubusercontent.com/59446200/81274728-4fedac80-9

[2020-05-08 06:46] dhavalsolankislk commented on #34
@danielmoncada
any update ?

[2020-05-08 12:56] tunereo-firebase opened #41 "Compilation error message after updating from Angular 9.1.3 to 9.1.5"
ERROR in node_modules/@danielmoncada/angular-datetime-picker/danielmoncada-angular-datetime-picker.d.ts:17:42 - error TS1149: File name 'node_modules/@danielmoncada/angular-datetime-picker/lib/date-time/numberedFixLen.pipe.d.ts' differs from already included file name 'node_modules/@danielmoncada/angular-datetime-picker/lib/date-time/numberedfixlen.pipe.d.ts' only in casing.

17 export { NumberFix

[2020-05-09 09:25] fastcurveservices-ankit commented on #41
Hi, Please update 9.1.6 for the same.

[2020-05-10 07:41] danielmoncada commented on #41
@tunereo-firebase, will update it next release

[2020-05-10 07:45] danielmoncada commented on #40
So, the issue here is when you select a date from the date/time picker, you want the popbox to close? Is this correct?

[2020-05-10 09:13] dhavalsolankislk commented on #40
@danielmoncada

We don't want to close the popbox. In our case it is closing popbox.

[2020-05-10 22:42] danielmoncada commented on #40
@dhavalsolankislk sounds like this might be an issue with the popup box itself. The reason why it's closing is because the date/time picker is a separate popup box / container. When you are clicking it, you are essentially 'leaving' the popup box, hence the closing. Does the popup box have some type of event you can override so that you can ignore the close if the clicked element is the date/time

[2020-05-10 22:46] danielmoncada commented on #40
@dhavalsolankislk  looking at their documentation:

https://ng-bootstrap.github.io/#/components/popover/examples

You will need to set manual open/close. From there, have an event listener for your popup where if you click outside it AND if it's not the date/time picker, then you do a manual close.

There are many ways to determine whether you've clicked outside your div in the popup. Here's one:

[2020-05-10 22:47] danielmoncada commented on #40
Closing as this is not an issue with the date/time control itself, but an issue on how it's used with the pop up control OP has integrated. I've provided a solution in the comments above.

[2020-05-10 22:47] #40 closed

[2020-05-10 23:58] danielmoncada commented on #39
@dhavalsolankislk the date/time picker has a 'scroll strategy' that should be set.

See: https://github.com/DanielYKPan/date-time-picker/issues/414

[2020-05-10 23:58] #39 closed

[2020-05-12 05:08] #41 closed

[2020-05-14 17:42] dhavalsolankislk commented on #39
Hello,
@danielmoncada
This is not working in my scenario

[2020-05-15 03:14] danielmoncada commented on #39
@dhavalsolankislk why does this not work for your scenario? also, have you tried setting the top / left position for it?

[2020-05-26 09:58] piernik opened #43 "Slider as timepicker"
Glad that You took this great project!

I've made slider timepicker for it. Here is my repository: https://github.com/piernik/date-time-picker
Maybe You can use it and merge.

Here is screenshot:
<img width="251" alt="datepicker-slider" src="https://user-images.githubusercontent.com/420691/82887378-342c4680-9f48-11ea-9846-a28b77674062.png">

[2020-06-02 21:27] ioiste commented on #20
Are there any plans in the near future to fix this problem? I really wanted to use this without moment.

[2020-06-07 20:54] danielmoncada commented on #43
@piernik will definitely look at it. note that the slider itself should probably adhere to the 'material design' guidelines shown here: https://material.io/components/sliders#usage

[2020-06-08 05:59] piernik commented on #43
it is unstyled - as date-picker.

[2020-06-09 16:23] dhavalsolankislk opened #45 "Close Date Picker on click of enter button"
Hello,
We are using owl date picker picker. We want a functionality in which we want to close date picker on press enter key which is not provided.

[2020-06-09 17:57] POFerro opened #46 ""required" attribute with compilation error on angular 9 with fullTemplateTypeCheck option"
Hi,

When compiling an html template with
`<input matInput [owlDateTime]="birthDatePicker" name="birthDate" [(ngModel)]="client.birthDate" [max]="maxBirthDate" required>
`

I get the following compilation error:
`error TS2322: Type 'string' is not assignable to type 'boolean'.
`
Shouldn't this way of setting required be supported? I believe in this case type for required property should be `boolea

[2020-06-11 17:55] dhavalsolankislk opened #47 "Clear text field wrong format entered during focus lost"
Hello,

We are using DatePicker in our application.
We are also issue when we type some wrong format in text field, can we get to clear text field on lost focus when we have type wrong format.

[2020-06-11 17:56] dhavalsolankislk commented on #45
@danielmoncada
Issue Updated and new issue added https://github.com/danielmoncada/date-time-picker/issues/47

[2020-06-12 18:27] dhavalsolankislk commented on #34
Hello,
@danielmoncada
Our html code is as below

<div class="form-group mr-2">
                <label class="control-label"> {{'To'|translate}} *</label>
                <div class="input-inside-btn input-inside-btn-style-1">
                    <input class="form-control" [owlDateTimeTrigger]="dt2" placeholder="DD-MM-YYYY HH:MM"
                        [owlDateTime]="dt2" formControlName="toDate"

[2020-06-13 04:40] danielmoncada commented on #34
@dhavalsolankislk thanks for the snippet.

As per your link, which example is the issue occurring at? When I change the time and immediately click SET, it's reflected in the TextBox right away (and not haver 1000 ms).

[2020-06-13 04:46] danielmoncada commented on #16
@khurramIlyas hello is this still an issue? it's about almost 4 months and I haven't heard back.

[2020-06-13 04:47] danielmoncada commented on #17
@iamakashaher still having the issue? I'm able to edit the fields directly via the TextBox in the drop down. If you pull the demo down from this repo, you can see that it works here.

[2020-06-13 04:58] danielmoncada commented on #28
@sasmj what's the update on this issue?

I'm able to get the date format you want, simply by setting only the 'local'. No need to provide a custom date/time format, as the local already uses the format you want.

[code]

[2020-06-13 04:59] danielmoncada commented on #43
@piernik anyway you want to integrate this into this fork and make a PR for it?

[2020-06-13 05:05] danielmoncada commented on #45
@dhavalsolankislk  there is already board focusing when [enter] is pressed. For example, if the date picker is opened, and you press [enter]  this will select the day in which you can then move the date selection / range with the arrow keys.

At which point do you want [enter] to close the picker? I do  not want to take away from the current [enter] behavior.

[2020-06-13 05:11] danielmoncada commented on #46
Sorry, I cannot reproduce.

Can you post applicable HTML and **component.ts** with the date picker / models?

Here is how I'm testing:

[code]

[2020-06-13 07:19] dhavalsolankislk commented on #45
@danielmoncada
When we press [esc], the date/time picker will close but value will not set in text field

[2020-06-13 08:55] khurramIlyas commented on #16
Hi

Apologies for not following. I don't know how I missed the first response
of 2nd March from you. But I am not using this package anymore. I don't
actually even remember.

On Sat, Jun 13, 2020 at 9:46 AM Daniel Moncada <notifications@github.com>
wrote:

[2020-06-13 08:56] #16 closed

[2020-06-13 15:17] rogyvoje opened #48 "Missing dependencies"
Hey guys,

Happy to see someone is going to maintain the library :smile_cat:

I just wanted to know why is `moment` required as a library?

If I don't have install moment I get the following error:

[code]

[2020-06-13 18:45] danielmoncada commented on #48
Hey @rogyvoje the reason being is that the original author added the moment adapter as part of the package (I'm assuming so that he doesn't have to maintain two different packages). There's a discussion about it here: https://github.com/danielmoncada/date-time-picker/issues/20

[2020-06-13 18:45] #48 closed

[2020-06-14 16:28] rogyvoje commented on #48
I understand but take a look at my pull request.
https://github.com/danielmoncada/date-time-picker/pull/49

Is it possible to exclude it, as anyone can write their own implementation for moment?

Maybe we can add additional section in README.md to reference moment adapter which anyone can copy to their own project. Or is there any better way to do this as I don't really need moment.

[2020-06-15 07:27] piernik commented on #43
I'm not quite github fluent. In my code there is ability to enable slider: ` [timepickerComponent]="'slider'"`

[2020-06-15 12:15] shyamal890 opened #50 "npm install giving file directory not found error"
ENOENT: no such file or directory

[2020-06-15 12:40] POFerro commented on #46
Hi Daniel,

My sample html is:
`        <input matInput [owlDateTime]="birthDatePicker" name="birthDate" [(ngModel)]="client.birthDate" required>
        <owl-date-time #birthDatePicker pickerType="calendar"></owl-date-time>
`
It's basically identical to yours.
I believe what's missing for you to reproduce is the setting in tsconfig.json to tell angular compiler to compile the html templates, wich

[2020-06-15 21:13] danielmoncada commented on #46
ahh, yeah, let me give it a try

[2020-06-16 05:20] #46 closed

[2020-06-16 05:24] danielmoncada commented on #46
@POFerro fixed in latest version 9.4.1

[2020-06-16 05:30] danielmoncada commented on #45
@dhavalsolankislk sorry, going to close this. pressing [**enter**] already has it's own built in functionality, as it allows the user to select the date/time range (either min or both min / max). From there, if they want to use [**enter**] to set the field, they will need to [**tab**] over to the set button then press [**enter**].

[2020-06-16 05:30] #45 closed

[2020-06-16 05:32] danielmoncada commented on #50
What version? What environment? What npm install command?

[2020-06-16 05:33] danielmoncada commented on #43
@piernik thanks. I'll look into your commits to see how easy they are to merge.

[2020-06-16 05:35] danielmoncada commented on #17
Closing, as this appears to be abandoned.

[2020-06-16 05:35] #17 closed

[2020-06-16 16:26] dhavalsolankislk commented on #39
@danielmoncada
I tried with above scenario but its not working

[2020-06-16 21:48] POFerro commented on #46
Tks daniel, it's working like a charm ;)

[2020-06-18 19:42] FilipaAlves opened #52 "Problem with ngModel and owl-date-time-inline"
Hello,

I have one problem when I put ngModel . I have this in my HTML:
<owl-date-time-inline [startAt]="todayDate"
                                              pickerType="calendar"
                                             [(ngModel)]="selectedMoment"
                                              name="calender"
                                              (ngModelChange)="dateChanged($even

[2020-06-19 20:06] kamlesh0606 commented on #34
Hi,
@danielmoncada Problem generated below photo with given link (https://danielykpan.github.io/date-time-picker/)

![image](https://user-images.githubusercontent.com/3240948/85175660-92252300-b295-11ea-97c9-b2ca4a63c0ae.png)

Video For above problem:
[screen-capture.zip](https://github.com/danielmoncada/date-time-picker/files/4806526/screen-capture.zip)

[2020-06-23 14:38] allyen commented on #34
This is caused by https://github.com/danielmoncada/date-time-picker/blob/master/projects/picker/src/lib/date-time/timer-box.component.ts#L85. If you click 'Set' before the debunceTime elapses, the value is not persisted. I believe the debounceTime could be safely removed since the user can write only two numbers and furtheremore no complex logic takes place after the time is set.

[2020-06-25 01:33] danielmoncada commented on #34
fixed with https://github.com/danielmoncada/date-time-picker/pull/53

[2020-06-25 01:33] #34 closed

[2020-06-25 05:59] vikaspathneja commented on #28
Same issue i am facing using MOMENT_FORMAT
*****below code are of my module*****

export const MY_MOMENT_FORMATS = {
	parseInput: 'LLL',
	fullPickerInput: 'LLL',
	datePickerInput: 'DD/MM/YYYY hh:mm:ss A',
	timePickerInput: 'LT',
	monthYearLabel: 'YYYY',
	dateA11yLabel: 'LL',
	monthYearA11yLabel: 'YYYY',
};

 { provide: OWL_DATE_TIME_FORMATS, useValue: MY_MOMENT_FORMATS },

[2020-06-26 13:34] Lempkin commented on #28
Hi,

@danielmoncada  I'm guessing ng-pick-datetime-moment is not compatible with Angular 9+ Ivy ?
I've tried to add it as dependency and import it in main module and I got some errors :

[2020-06-26 14:58] Lempkin opened #54 "Localizing labels and messages is not working"
Hi and thx for the library update =)

Here my code :
[code]

I've customized setBtnLabel  and cancelBtnLabel, but labels are not replaced and I still see "Cancel" and "Set"

I use @danielmoncada/angular-datetime-picker@9.4.2, @angular/core@~9.1.7 and build with Ivy.

I've tried in the demo stackblitz and this is working but those demo use an old version of the lib.
I tried to make my own stackblit

[2020-06-29 11:28] vikaspathneja opened #55 "build with production mode fails"
when building with production mode giving issues, while building without production is running fine
* Command Used: **ng build --prod**

**Enviornment Versions:**
node v12.16.2
npm  v6.14.4

**Dependencies Version:**
angular/core": "^8.2.14",
angular/material": "^8.2.3",
angular/material-moment-adapter": "^9.2.0",
moment": "^2.27.0",
**ng-pick-datetime": "^7.0.0",
ngx-bootstrap": "^4.2.0",

---tri

[2020-06-29 11:33] vikaspathneja commented on #55
**Attached Zip**
module typescript file
package json file

[PackageJsonAndModuleFile.zip](https://github.com/danielmoncada/date-time-picker/files/4845161/PackageJsonAndModuleFile.zip)

[2020-06-30 08:52] thorsten opened #56 "Using Angular Material v10"
We updated our project to Angular v10 and upgrading Angular Material v10 didn't work without using --force:

[code]

The update with --force worked without any issues.

[2020-07-01 14:48] jcompagner commented on #56
i wonder if it is possible to be a bit more lenient in upwards compatibility
Can't a component just say i need minimum this version and leave it to the user to go up?
Yes that could potentially break something if a dependency did do a breaking change.

[2020-07-01 16:40] danielmoncada commented on #56
I've been pretty busy with work lately.. I'll do my best to look into ng10 support this week

[2020-07-02 13:26] Sevven45 opened #57 "Problem entering hours and minute manually"
When I try to enter hours or minutes manually it automatically add a 0. I have to carefully select the number to replace it, so I have to do this twice for each number if I want to enter a number bigger than 9.

I was thinking maybe there is an incompatibility with something? I was able to unblock it by passing the maxlength of the input at 3 in the console if this informations can help.

Thanks i

[2020-07-02 14:50] POFerro opened #58 ""disabled" attribute with compilation error on angular 9 with fullTemplateTypeCheck option"
Hi,

As in #46 same behaviour happens with disabled attribute.
I believe these properties should have type of string | boolean and setter should be handled with angular coerceBooleanProperty(stringOrBoolean) to take care of the variations of value.

Thanks in advance and best regards :)
POFerro

[2020-07-03 05:19] vikaspathneja commented on #55
@danielmoncada  Please Check as it is important for making build for production server, waiting for positive response

[2020-07-03 12:15] jaco-terbraak opened #59 "Setting locale does not work"
Whenever i set the locale using e.g.
    ```{provide: OWL_DATE_TIME_LOCALE, useValue: 'nl'}```

I end up with the runtime error as follows:
[code]

[2020-07-04 17:48] Blair2004 opened #60 "How to disable validation while inputing time and minute"
Hi,
I'm currently using the version 9.4.2, and the issue I'm facing is that when we're retrying to input an hour and minutes over the time fields, someone there is a validation running making it impossible to set time like 12, 15, as for the first number entered, it's immediately led by a 0.

![Peek 2020-07-04 18-48](https://user-images.githubusercontent.com/5265663/86518155-f8c64700-be26-11ea-8a4

[2020-07-04 17:55] Blair2004 commented on #60
I don't know who created that feature, but it's so annoying.

[2020-07-05 22:05] danielmoncada commented on #59
@jaco-terbraak you need to also register it with Angular.

example:

[code]

[2020-07-05 22:08] danielmoncada commented on #54
@Lempkin are you registering the locale through Angular as well? This seems to work:

[code]

[2020-07-05 22:10] danielmoncada commented on #50
@shyamal890 are you still having trouble? I'll wait a few more days then abandon this issue if I don't get a response back.

[2020-07-05 22:13] danielmoncada commented on #28
@Lempkin this is correct. ```ng-pick-datetime-moment``` package should not be used with this package (this was for the old version). This package already provides its own moment adapter with it.

[2020-07-05 22:16] danielmoncada commented on #58
@POFerro are there any other attributes that you need added?

[2020-07-05 22:19] danielmoncada commented on #60
@Blair2004 yeah not sure who added this. must have been done by the original author. I'll look into it

[2020-07-05 22:20] danielmoncada commented on #57
@Sevven45 thanks for the response. Another issue has been submitted for this as well, so I'm going to merge this with it. Closing to merge with https://github.com/danielmoncada/date-time-picker/issues/60

[2020-07-05 22:20] #57 closed

[2020-07-06 01:16] #50 closed

[2020-07-06 10:38] Blair2004 commented on #60
Thank you 😊

On Jul 5, 2020 11:19 PM, "Daniel Moncada" <notifications@github.com> wrote:

@Blair2004 <https://github.com/Blair2004> yeah not sure who added this.
must have been done by the original author. I'll look into it

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/danielmoncada/date-time-picker/issues/60#issuecomment-

[2020-07-12 14:26] Alex-Simple-Fly opened #61 "Time-picker problem inside bootstrap modal"
Hi, I am having an issue with time-picker when I am trying to implement it in a bootstrap modal.
Like said in that issue
https://github.com/DanielYKPan/date-time-picker/issues/372

I'm overwritten the css z-index for class cdk-overlay-container, but inputs for minutes and hours are not accessible, the user can only click the arrows.

Maybe anyone know's fix for that problem?

[2020-07-13 22:04] danielmoncada commented on #60
@Blair2004 found the issue. For some reason there's a Pipe bound to automatically make it 2 digits. Need to figure out if removing it will cause other issues (outside of formatting).

[2020-07-13 23:17] sasmj commented on #28
sorry. I got pulled off the project mid way, so unable to say what the
resolution was.

Thanks

On Sat, 13 Jun 2020 at 05:58, Daniel Moncada <notifications@github.com>
wrote:

[2020-07-14 01:06] danielmoncada commented on #28
closing, as appears OP has fixed the issue / no longer has a problem

[2020-07-14 01:06] #28 closed

[2020-07-14 12:21] ray-kay commented on #20
Any update on this issue. Serving and building only works when adding Moment which we don't want/need.

And this is how the prod build looks like - Moment takes at least 1/3. I know there ways to exclude all the languages but better would be not having moment at all when using the OwlNativeDateTimeModule.

I was assuming from the documentation there is need of moment when using OwlNativeDateTimeMo

[2020-07-15 06:53] Dovlus commented on #60
The reason it was working fine before is that debounce for input field value change was set to 500ms which was enough time to type in both digits.
Debounce time was changed to 1ms in order to fix issue #34.

[2020-07-15 15:30] eladco898 opened #62 "Setting OWL_DATE_TIME_FORMATS custom formats does not work"
Hi,
I have tried to set a custom moment formats in my app.module.ts but it does not work.
Can someone provide a working example(maybe in a plunker) of OWL_DATE_TIME_FORMATS for Angular9?

Thanks

[2020-07-16 06:10] danielmoncada commented on #60
@Dovlus right, though I feel that the debounce simply hid the initial issue. Looking to an alternate solution

[2020-07-16 07:03] danielmoncada commented on #60
fixed in https://github.com/danielmoncada/date-time-picker/pull/63

[2020-07-16 07:03] #60 closed

[2020-07-16 07:06] danielmoncada commented on #55
@vikaspathneja still an issue? if not, going to close this

[2020-07-16 07:07] danielmoncada commented on #54
@Lempkin still an issue, if not, going to close..

[2020-07-16 07:09] vikaspathneja commented on #55
Can you please tell whether you package is supporting angular 8 or only
angular 9+

Vikas
Email: vikas42329@gmail.com
Mobile: +91 9467709200
[image: linkedin icon] <https://in.linkedin.com/in/vikaspathneja> [image:
twitter icon] <https://twitter.com/vikas42329>[image: facebook icon]
<https://www.facebook.com/vikaspathneja>

On Thu, Jul 16, 2020 at 12:37 PM Daniel Moncada <notifications@github.com>

[2020-07-16 07:09] danielmoncada commented on #59
@jaco-terbraak  just checking to see if there's an update on this issue / if you have tried the above..

[2020-07-16 07:19] Lempkin commented on #54
Hi, yes I do register locale as :

registerLocaleData(localeFr, 'fr');

I 'm able to customize labels with following code :

[code]

Which is not exactly what's recommended in doc

[2020-07-16 08:39] jaco-terbraak commented on #59
@danielmoncada sorry for not responding.

I had it registered exactly in this way, but it didn't work. Maybe it's relevant to know I was using `OwlMomentDateTimeModule` instead of the `Native` variant.

I've since moved on to using `ng-pick-datetime-ex`, which did work without problems.

[2020-07-16 16:14] danielmoncada commented on #59
@jaco-terbraak yeah that could have been it, as I've seen other issues with usage when mixing the separate adapter package with this package (which should use the internal). I'll close, thanks

[2020-07-16 16:14] #59 closed

[2020-07-16 16:17] danielmoncada commented on #55
@vikaspathneja ng9.

Per docs:

**The date/time picker has been updated to support Angular 9, as well as compilation using Ivy.
If you need Ng8 support, please stick with: https://github.com/DanielYKPan/date-time-picker**

[2020-07-20 12:39] rohit64Singh222 opened #64 "Date & time picker write 13 in minutes textbox but when 1 enter auto trigger and add 01"
Hello,

I am using data & time picker but problem created when enter manually minutes textbox. If enter 13 then press 1 and automatic trigger and 01 in minute textbox.

![image](https://user-images.githubusercontent.com/57747188/87938331-0d0b7480-cab4-11ea-9de4-c344e1827164.png)

Solution : Provide solution for not auto add 0 in minute textbox.

[2020-07-21 08:56] Londeren commented on #56
@danielmoncada please, let us know when you can add support for ng 10

[2020-07-28 03:57] dhavalsolankislk commented on #39
@danielmoncada  Any update ?

[2020-07-28 11:19] jooseplall opened #65 "Changing locale at runtime does not change the locale of datepicker"
Per docs I can see that it is possible to change the locale of the datepicker at runtime:
`constructor(dateTimeAdapter: DateTimeAdapter<any>) {
        dateAdapter.setLocale('ja-JP'); // change locale to Japanese
}`

I'm trying to use the datepicker in cooperation with ngx-translate.
I have set up a language change subscription which would then set the locale of the selected language:

`this.langS

[2020-07-28 14:40] jpike88 opened #66 "Styling doesn't respect dark themes"
<img width="772" alt="Screen Shot 2020-07-28 at 10 40 37 PM" src="https://user-images.githubusercontent.com/9585787/88680697-5ba7b700-d123-11ea-8b3b-367c16025faf.png">

[2020-07-28 14:41] jpike88 opened #67 "Error when trying to fire up in a dialog, angular 10.0.5"
app.js:288471 TypeError: Class constructor BasePortalOutlet cannot be invoked without 'new'
    at new OwlDialogContainerComponent (app.js:93838)
    at createClass (app.js:68195)
    at createDirectiveInstance (app.js:68068)
    at createViewNodes (app.js:73478)
    at createRootView (app.js:73381)
    at callWithDebugContext (app.js:74272)
    at Object.debugCreateRootView [as createRootView] (a

[2020-07-28 15:36] #67 closed

[2020-07-28 18:29] jpike88 opened #68 "main property on package.json should be es2015"
Angular 10 is not compatible with esm5, fesm5 bundles.

This library has this as the main property in its package.json, and it's causing issues in an angular 10 build. in the meantime I have to use an alias to force the es2015 bundle instead

```"main": "bundles/danielmoncada-angular-datetime-picker.umd.js",```

Should have this value instead:
```fesm2015/danielmoncada-angular-datetime-picker.js``

[2020-07-29 04:59] danielmoncada commented on #64
which version are you using? this was fixed in: https://github.com/danielmoncada/date-time-picker/issues/60

[2020-07-29 05:09] danielmoncada commented on #66
@jpike88 before forking this, when I was using this original package, we had the same issue. We went ahead and used `::ngdeep` it get around this. Even though it's deprecated, it works great. All investigate and native solution.

[2020-07-29 05:12] jpike88 commented on #66
I use these styles:

[code]

[2020-07-29 05:33] danielmoncada commented on #66
This is SASS, but you get the idea. This should work:

[code]

[2020-07-29 06:24] danielmoncada commented on #56
@thorsten @jcompagner @Londeren I've made an alpha version for ng10. if you have time, please try it out and let me know if there are any issues before a fully release it:

https://www.npmjs.com/package/@danielmoncada/angular-datetime-picker/v/10.0.0-alpha.0

[2020-07-29 06:25] danielmoncada commented on #68
@jpike88  I've made an alpha version for ng10. if you have time, please try it out and let me know if there are any issues before a fully release it:

https://www.npmjs.com/package/@danielmoncada/angular-datetime-picker/v/10.0.0-alpha.0

[2020-07-29 07:30] jpike88 opened #69 "Clock UI for picking time on mobile"
I've had a few users complain about how they missed a clock UI. Our old angular 1.x app used this for the UI, turns out people really miss it in our Cordova apps.

https://beenote.github.io/angular-material-datetimepicker/?spm=a2c6h.14275010.0.0.4b023cc9cR0Urd

[2020-07-29 07:32] jpike88 commented on #69
Just found one here written for ng2

https://owsolutions.github.io/amazing-time-picker#/examples

[2020-07-29 08:07] jpike88 commented on #68
confirmed working, thanks

[2020-07-29 08:07] #68 closed

[2020-07-30 11:43] Mexx62 opened #70 "Peer dependencies not compatible with @angular/material 10.1.1"
When trying to update `@angular/material` dependency from version 9.1 to 10.0 (released a month ago), I've got an error because of angular-datetime-picker's peerDependencies. Here's the message:

I did the update anyway by using the `--force` flag, and the components seem to work fine.

If you support Angular 10 (and it seems you do given the description [9+]), can you change the peerDependencies

[2020-07-30 11:44] Mexx62 commented on #70
Duplicate with #56, sorry guys! I'm closing the issue

[2020-07-30 11:44] #70 closed

[2020-07-31 23:08] danielmoncada commented on #66
@jpike88 did this work for you?

[2020-08-01 03:41] jpike88 commented on #66
yep, worked alright. though the extra ```owl-dt-control-content``` was necessary for it to fall in line with angular material

[2020-08-01 06:02] #66 closed

[2020-08-01 06:03] #55 closed

[2020-08-04 08:59] fruchtzwerg commented on #56
Working on the same project as @thorsten.
@danielmoncada I've used your alpha version to update angular to the latest v10 patch version. Worked without issues.

[2020-08-04 16:53] wwjd1234 opened #71 "Display UTC"
How can we display UTC format instead of the GMT time?

[2020-08-04 17:49] danielmoncada commented on #56
@fruchtzwerg thanks, I'll go ahead and push it out of alpha.

[2020-08-04 17:49] #56 closed

[2020-08-04 18:17] wwjd1234 opened #73 "Errors in node_modules date-time-moment"
After doing npm install ng-pick-datetime-moment moment --save;

I get the following errors

ERROR in ./node_modules/ng-pick-datetime-moment/__ivy_ngcc__/moment-adapter/moment-date-time-adapter.class.js 231:30-55
"export 'ɵɵdefineInjectable' (imported as 'ɵngcc0') was not found in '@angular/core'
ERROR in ./node_modules/ng-pick-datetime-moment/__ivy_ngcc__/moment-adapter/moment-date-time.module.js

[2020-08-04 19:18] danielmoncada commented on #73
@wwjd1234 ng version?

[2020-08-05 06:42] danielmoncada commented on #73
The issue is that you are using the old ng-pick-datetime-moment adapter npm package. There's no need to use this anymore, as the moment adapter is now built in.

[2020-08-05 06:42] #73 closed

[2020-08-13 08:13] barden42 commented on #54
Hi,

I have the same issue, impossible to translate buttons "cancel" and "set".
I tried both solutions, this one of the documentation and the code posted by @Lempkin

What is the solution ?

[2020-08-31 07:41] piernik commented on #43
@danielmoncada any new?

[2020-09-07 08:50] unspike commented on #65
Any updates? faced with same issue

[2020-09-07 13:46] StalinMazaEpn commented on #54
I used this code to set language "es" and it worked, I hope it helps you

**datetime-picker.config.ts**
[code]

y en el app.module.ts lo importe de la siguiente manera
[code]

[2020-09-09 05:28] arslbbt opened #74 "invalid time validation not fired"
When we add a wrong time and click the set button, I was gotten a  current time but my requirement is button disable when we input the wrong time like this npm https://h2qutc.github.io/angular-material-components/datetimepicker

[2020-09-09 07:00] danielmoncada commented on #74
@arslbbt that link does not work.

Also, if you want to disable the button when the time is incorrect, just use an ngClass and bind to a boolean value that represents time validity. Would that work?

[2020-09-09 07:09] danielmoncada commented on #71
@wwjd1234  are you using moment?

[2020-09-09 16:17] ZeSzymi commented on #62
you have to provide the locale in app.module

[code]

[2020-09-09 16:51] arslbbt commented on #74
@danielmoncada please check this link again https://h2qutc.github.io/angular-material-components/
Please check the example. I need like this time validation.
I used with query class to added change event to get value and bind but this is a cheaper code. I need a professional way to add in npm code.

[2020-09-11 05:14] arslbbt commented on #74
@danielmoncada did you check the link?

[2020-09-15 14:46] developerGM commented on #61
I have the same problem.

[2020-09-16 06:11] SonaliThakur0807 opened #75 "owl-date-time doesn't work with keyboard arrow up and arrow down"
There doesn't seems to have support to increment or decrement time by hitting arrow up and arrow down key from keyboard.
It would be great help if we get keyboard support to increment/decrement time.

To reproduce this issue

go to https://daniel-projects.firebaseapp.com/owlng/date-time-picker
open any timer
Set focus on timer box then hit arrow up / arrow down.
It should increment/decrement time.

[2020-09-16 10:09] chiangs commented on #61
Are you using the hasBackdrop: true in the OverlayConfig? Try turning it false if you can access the config.

[2020-09-16 10:19] developerGM commented on #61
Where is this config?

[2020-09-16 14:42] chiangs commented on #61
It's part of the cdk overlay config but it's possible that it is not exposed to you

[2020-09-16 14:47] developerGM commented on #61
yes, confirm, this is not exposed. So how can we solve this problem?

[2020-09-17 20:11] developerGM commented on #61
I am trying to change (only for test) this file date-time-picker.component in this part as this:
`OwlDateTimeComponent.prototype.createPopup = function () {
        var _this = this;
        var overlayConfig = new OverlayConfig({
            positionStrategy: this.createPopupPositionStrategy(),
            hasBackdrop: false,
            backdropClass: ['cdk-overlay-transparent-backdrop'].concat(

[2020-09-17 20:44] developerGM commented on #61
I solved changing this
`<div class="modal fade" id="modalCalendar" tabindex="-1" role="dialog" aria-hidden="true">`

whit this
`<div class="modal fade" id="modalCalendar" role="dialog" aria-hidden="true">`

[2020-10-01 11:52] bigbasti commented on #35
Some kind of a callback function to retrieve a css class based on the processed date would be handy.
I'm trying to highlight holidays inside the month view.

[2020-10-05 03:57] danielmoncada commented on #52
no updates in over 3 months from OP.. abandoning

[2020-10-05 03:57] #52 closed

[2020-10-05 03:59] danielmoncada commented on #61
OP found a solution. see https://github.com/danielmoncada/date-time-picker/issues/61#issuecomment-694489985

[2020-10-05 03:59] #61 closed

[2020-10-05 04:00] danielmoncada commented on #62
@eladco898  is this an issue? Did you try what @ZeSzymi  recommended?

[2020-10-05 04:01] danielmoncada commented on #64
This was fixed. Closing

[2020-10-05 04:01] #64 closed

[2020-10-05 04:02] danielmoncada commented on #71
@wwjd1234 any updates on this?

[2020-10-05 04:04] danielmoncada commented on #75
@SonaliThakur0807  adding as an enhancement for now.

In the meantime, could you just listen to the up/down keyboard events, and then invoke the Click() manually on the up/down arrows?

[2020-10-05 07:07] eladco898 commented on #62
No.
You can close this issue

[2020-10-05 11:12] wwjd1234 commented on #71
Yes I am using moment. It seems if I use UTC the browser converts it to local time for viewing, but once I read/set the date it is back to UTC. Same in the reverse, if I use local time but the browser displays in UTC then when I read/set I get local time not UTC. Is there. Way to have UTC be set in code and for display. Any ideas or code examples would be helpful.

[2020-10-06 08:27] Ajayachathru opened #76 "Date Time Range Picker - Changing time in input doesn't reflect"
**I'm using Angular, 8 ng-pick-datetime version 7.0.0**

In https://danielykpan.github.io/date-time-picker/ Use with @angular/forms section,

Click Date Time Range Picker, choose same date in from & to
type in from time as 08:00:00
type in to time as 08:15:00

only seconds gets changed as 15, hours not changed !

[2020-10-07 03:02] Ajayachathru commented on #76
HI,

can't enter same Hour / Minute / Second in from & to time.

After debugging, Understood the issue in timer-box.component.js
you are maintaining single inputStream for both from and to time.

**distinctUntilChanged()** will not emit when the same value is entered.
we need to remove it or maintain separate streams for from & to time.

please fix this soon in ng-pick-datetime 7.0.0

Issue:
    O

[2020-10-07 21:51] aldas opened #77 "library will not build without Momentjs"
I would like to build my app without momentjs to reduce bundle size but build fails
[code]

Even momentjs guys/gals are admitting that there are nicer alternatives

See https://momentjs.com/docs/#/-project-status/

would it be possible to restructure this library so it will not be a required dependency?

[2020-10-08 21:25] Lonli-Lokli commented on #74
@danielmoncada btw is there any support for invalid dates, eg if I manually enter 24/24/2020, will there be any possibility to highlight this invalid value?

[2020-10-09 14:22] Lonli-Lokli commented on #77
+1 for that

ERROR in The target entry-point "@danielmoncada/angular-datetime-picker" has missing dependencies:
 - moment

[2020-10-09 15:36] marleypowell commented on #77
I also have that issue. Why is moment not listed as a peer dependency?

[2020-10-09 16:56] danielmoncada commented on #76
@Ajayachathru thanks for your feedback.

I am not maintaining ng-pick-datetime 7.0.0. This current library is forked from that because it was no longer mainted.

I can look into fixing the issue here, as part of @danielmoncada/angular-datetime-picker

[2020-10-10 04:52] Ajayachathru commented on #76
@danielmoncada

sure, thanks :+1:

[2020-10-12 07:21] Lonli-Lokli commented on #77
I believe that's duplicate of https://github.com/danielmoncada/date-time-picker/issues/20
Workaround is to add to devdeps

[2020-10-16 05:15] Virendra8Satva opened #79 "How to handle event when I select date in date range?"
I want to handle date change event so that when I select start date and end date as same date (select 24 hours of the day )  then I should be able to set start time as "1 am" and end time as "11 pm" in time picker.

[2020-10-19 12:43] Ajayachathru commented on #76
Hi @danielmoncada

Have you fixed this issue ?

[2020-10-19 16:07] danielmoncada commented on #76
@Ajayachathru  no, I'm busy at work with the moment, so I haven't had a chance.
Feel free to fix it yourself and make a PR if you want

[2020-10-19 16:30] ArtzGroup opened #80 "Cannot run my app after installing date-time-picker"
I tried the installation steps. But, it doesn't compile at all. I just installed it with `npm install @danielmoncada/angular-datetime-picker --save`. I didn't even add it in AppModule yet. Not sure why this happens. Without installing this package, my app is running fine. I am getting this error.

`AggregateException: One or more errors occurred. (One or more errors occurred. (The NPM script 'star

[2020-10-21 05:33] rohit64Singh222 opened #81 "There is no option for only Year Selection"
Hello..!
In this Repository there were no option of only selection of year. there were option for year and month both combine but in my project i required only year selection than i post this issue. please provide solution of it.

[2020-10-21 10:27] Lonli-Lokli opened #82 "Make YEARS_PER_ROW & YEAR_ROWS customizable"
Currently it's constants

export const YEARS_PER_ROW = 3;
export const YEAR_ROWS = 7;

Could you move them to the options?

[2020-10-22 12:42] Ajayachathru commented on #76
Hi @danielmoncada

Okay. I'll fix it and make a PR by tomorrow evening.

[2020-10-24 20:08] xErik commented on #65
Trying to change the locale during runtime results in the error below.

How do I install these locals in general?

[code]

[2020-10-27 03:01] Dedme opened #85 "Using UTC Makes Today wrong"
I am using UTC, because we only use Dates, no times, and its much easier to work through multiple layers of things when its all established as UTC.

however, the issue is that the 'today' circle is wrong, as it uses UTC also... (so maybe its 'correct').
it would be good if it used the local time, or provided another option to use local time for today.

i am in Australia (+9.5 or +10.5), this means

[2020-10-27 05:34] Dedme commented on #85
Sorry i had massive head fog when i wrote the above.
i fixed this in a patch for me by changing the Moment Adapter.
/adapter/moment-adapter/moment-date-time-adapter.class.ts line 162
[code]

and then passing in local time in the Month component:
https://github.com/danielmoncada/date-time-picker/blob/master/projects/picker/src/lib/date-time/calendar-month-view.component.ts line 517
[code]

of cours

[2020-10-30 12:08] monis001 opened #86 "On installing the date-time-picker"
Hi, I have an ANgular8+ project and on installing the date-time-picker, it's generating errors.

![image](https://user-images.githubusercontent.com/46885793/97703287-65500a80-1ad6-11eb-92ee-1ee7a3acd6ff.png)

PS: I believe this repo is actively maintained, and the repo from which is forked seems not maintained, or no communication from maintainers. If anyone could guide.

Thanks

[2020-10-30 12:36] jcompagner commented on #86
are you sure we talk here about this date picker?
it seems more that you are using aggrid .. and it complains for that.

[2020-10-30 18:10] shaharzeira opened #87 "Scroll bars appear for no reason on and off after increasing\decreasing time in dialog view"
The scroll bars should not appear at all.
Irregular behaviour of the scroll bars also happens when changing the dates.

the attribute is:
[pickerMode]="'dialog'"

We user your library and it works well.
Hope you could fix this.

[2020-10-30 18:37] danielmoncada commented on #76
@Ajayachathru thanks, let me look over the PR. 👍

[2020-10-30 18:39] danielmoncada commented on #82
@Lonli-Lokli  thanks, I'll look over and merge the PR sometime today.

[2020-10-30 18:39] #77 closed

[2020-10-30 18:39] danielmoncada commented on #77
duplicate of https://github.com/danielmoncada/date-time-picker/issues/20

[2020-11-02 07:04] monis001 commented on #86
Hi, That's the folder name, if you will check ut closely it is pointing out in date-picker modules, please check the below image  :
**Angular (v : 8+)**
![date-picker-2](https://user-images.githubusercontent.com/46885793/97839042-6320c280-1d07-11eb-9c17-284e68b536cf.PNG)

(Yellow box pointing the project path)

also when tried with **Angular-10**, still showing the error  :

![date-time-picker-iss

[2020-11-02 08:43] jcompagner commented on #86
right i was confused because ng-pick-datetime is not the current package of this product.
but this product has a devDepedency on https://github.com/danielmoncada/date-time-picker/blob/master/package.json#L57 angular/cdk

So it could be that that is just a requirement (in our product we also use that) including also moment

[2020-11-04 20:13] Applicafroguy opened #88 "How can I disable input so user don't type"
I have an issue where the user tries to edit or type on the input field. This causes the date to be invalid.

When I do this the `<input />` is disabled it's not clickable

`   <input
              readonly
              [owlDateTimeTrigger]="dt3"
              [owlDateTime]="dt3"
              [disabled]="true"
              formControlName="pickup_time"
              name="pickup_time"

[2020-11-04 20:24] #88 closed

[2020-11-06 01:31] Ajayachathru commented on #76
Hi @danielmoncada .. can you please check and merge this

[2020-11-06 05:58] danielmoncada commented on #76
@Ajayachathru taking a look now! thanks

[2020-11-06 05:59] #76 closed

[2020-11-06 06:12] danielmoncada commented on #86
@monis001 your first two screenshots are using the wrong package. Package should be @danielmoncada/angular-datetime-picker not ng-pick-datetime.

@jcompagner  is right. In your last screenshot, looks like you're using the correct package but you're missing dev dependencies. you need to install those manually either through NPM or Yarn.

[2020-11-06 06:13] danielmoncada commented on #85
@Dedme thanks, appreciate the feedback. Will look into

[2020-11-06 06:16] danielmoncada commented on #80
@ArtzGroup do you still have the issue?
What does your package.json show? Please take a look at https://stackoverflow.com/questions/50221618/the-npm-script-start-exited-without-indicating-that-the-angular-cli-was-listen

I think it's a configuration issue with your NG project and not the package itself

[2020-11-06 06:55] danielmoncada commented on #82
@Lonli-Lokli  can you create a new pull request? I initially merged it (should have checked before hand), but there were some issues in the UTs.. I had fixed them, but a bunch are still failing so I went head and reverted the merge.

[2020-11-06 07:02] danielmoncada commented on #76
@Ajayachathru published! thanks again https://www.npmjs.com/package/@danielmoncada/angular-datetime-picker/v/10.1.0

[2020-11-06 07:15] Ajayachathru commented on #76
thanks :) @danielmoncada

[2020-11-10 07:40] arslbbt commented on #74
@danielmoncada did you fix the issue?

[2020-11-10 15:00] ArtzGroup commented on #80
Thank you. It works now. The issue is with my git branches. I am working on multiple branches of same project. When I am running the branch which doesn't use this library, this error occurs. But, when I run the app which uses the library it works fine. Not sure why this happens, but I have to delete and install node_modules every time I change my branches.

[2020-11-10 15:00] #80 closed

[2020-11-11 23:03] ABarak64 opened #90 "Install Problem with Angular 9"
Hi, I cannot build my Angular 9 app with your package unfortunately:

![image](https://user-images.githubusercontent.com/1270291/98874198-9f060700-242e-11eb-8070-f380916000c3.png)

Here is my setup re-Angular if useful:

![image](https://user-images.githubusercontent.com/1270291/98874266-c52ba700-242e-11eb-9488-dea4b268b7ae.png)

I'm hoping I don't need to target es2015 in my Angular build. Please

[2020-11-11 23:17] ABarak64 commented on #90
Whoops, I didn't choose the right version of your package, using version 9 solved this for me, thanks.

[2020-11-11 23:17] #90 closed

[2020-11-12 21:43] igorlino commented on #86
@danielmoncada I also came to the same problem with the cdk dependency, I think it may be a good thing to document it in the README

npm install @angular/cdk --save
npm install @danielmoncada/angular-datetime-picker --save

[2020-11-12 23:34] danielmoncada commented on #86
@igorlino good idea. i'll add it next rev. thanks!

[2020-11-12 23:55] igorlino commented on #81
I think you can use a workaround:
[code]

You may also hide using CSS the parts of the dialog you dont want to show. For that you will need to turn encapsulation off in the component where you are using the picker.

[code]

[2020-11-13 21:07] ArtzGroup opened #91 "Is it possible to display whole month name on the top of calendar"
Currently it is displayed as Nov 2020. Is it possible to display it as November 2020.

[2020-11-16 09:55] burner opened #92 "Angular 11 failed update"
I tried updating to angular 11 and it failed with

[code]

[2020-11-17 06:47] monis001 commented on #86
Yes....

After googling came across the missing packages, later installed that.

[2020-11-17 06:47] #86 closed

[2020-11-19 15:31] ArtzGroup opened #93 "Does this date picker support IE11"
I am trying to add a feature cross-browser application for a legacy app and have to support IE11. This date picker doesn't work on IE. Is there a way to make it work on IE11?

[2020-11-23 14:47] igorlino opened #94 "feature: month-picker support"
Hi,

Thanks for the effort so far 👍

I have the need to pick months with no particular date in mind. So a month picker.

I used a workaround for this to work: hide the actions, start the picker in year mode, when clicking a month, close the navigation with the selection.

unfortunately, but there is always the posibility to click on the year which navigates to the date view, which is not wanted.
I

[2020-11-24 12:48] rohit64Singh222 commented on #81
Thanks for reply.

 But when open year piker showing
![image](https://user-images.githubusercontent.com/57747188/100095654-d8079800-2e80-11eb-9b44-b6c8460c9a2e.png)
![image](https://user-images.githubusercontent.com/57747188/100095874-2d43a980-2e81-11eb-9ea9-37ddfc2b389d.png)

and when click on year open days as bellow
![image](https://user-images.githubusercontent.com/57747188/100095743-fbcade00-

[2020-11-24 15:29] igorlino commented on #81
I could in theory extend my pull request to add an option of multiyearOnly

https://github.com/danielmoncada/date-time-picker/issues/94
https://github.com/danielmoncada/date-time-picker/pull/95

I implemented it for month picker.

Its far from 100% perfect, but sufficient for picking up months.

[2020-11-24 15:53] igorlino commented on #81
As it was relatively simple I extended my MR https://github.com/danielmoncada/date-time-picker/pull/95.

flat is using:
**[multiyearOnly]="true"**

with it, one can:
[code]

You still need to hide using CSS the parts of the dialog you dont want to show. For that you will need to turn encapsulation off in the component where you are using the picker.

[code]

[2020-11-24 22:58] shalltalk opened #96 "Weird layout in angular 10"
I installed 10.1.0 on a angular 10 project.
I followed the "Use with @angular/forms" here https://danielykpan.github.io/date-time-picker/ but the following code gives a weird layout (see attached image, I have to zoom out to show the whole layout). Could someone take a look? Thanks.

![datepicker bug 1](https://user-images.githubusercontent.com/10190439/100160888-46d6f800-2e65-11eb-9ce8-341e7f7994

[2020-11-24 23:01] shalltalk commented on #96
ugh stupid me, I forgot to do this:

Great lib!

[2020-11-24 23:01] #96 closed

[2020-11-26 15:04] sedran opened #97 "UnixTimestampAdapter does not exist in published release"
The following folder does not exist in the published release on npmjs:

https://github.com/danielmoncada/date-time-picker/tree/master/projects/picker/src/lib/date-time/adapter/unix-timestamp-adapter

Did I forgot something while developing the adapter? I think there are some files that should reference this adapter in order for npm build to put those files into the distribution.

[2020-11-30 19:11] devat19 commented on #67
How did you resolve this, having the same issue on my end  :( .

[2020-12-02 18:27] f3l1xss commented on #88
@Applicafroguy Did you manage to resolve this? I am currently facing the same problem

[2020-12-03 08:42] f3l1xss commented on #88
Since it appears that the disabled attribute does not work, I 'fake' disabled the timer input using css:

https://stackoverflow.com/questions/5963099/how-do-i-disable-form-fields-using-css
.owl-dt-timer-content {
  pointer-events: none;
}

[2020-12-03 09:06] sabrinaToulouse opened #98 "Issue with angular 10 and symlink"
Hi,

I have 2 apps : an app using angular 9.1.11 and another on angular 10.2.3.
I also have a lib, which is used in both apps. This lib uses angular 9.1.7. This lib also use your lib.

Everything is working perfectly except when I set a symlink between my lib and my angular 10.2.3 app, I get those errrors :

What should I do?
Thx

[2020-12-03 09:56] sabrinaToulouse commented on #98
Actually I found the problem, if it can be usefull to anyone : add
` "preserveSymlinks": true `
in  angular.json file ^^

[2020-12-03 09:56] #98 closed

[2020-12-14 18:39] danielmoncada commented on #97
@sedran  yeah you forgot a few things. I'll create a PR today. Thanks

[2020-12-14 18:40] danielmoncada commented on #92
@burner haven't added ng11 support yet. I'll work on it this week.

[2020-12-17 14:10] amarkes opened #99 "timezone problem"
I have a timezone problem, when I change the minutes they change the time alone, does anyone know how to proceed with this?

![ezgif com-gif-maker](https://user-images.githubusercontent.com/6019683/102498170-62928000-4058-11eb-9ae0-d5ae84952066.gif)

[2020-12-17 15:38] stepet80 opened #100 "ngcc not changing node_modules/@danielmoncada/angular-datetime-picker code"
Ngcc doesn't seem to be adapting the package? Is it a known issue or am I doing something wrong.
I have a script postinstall: 'ngcc'. Other packages are being tweaked by ngcc...

[2020-12-17 15:43] stepet80 commented on #100
Ok nevermind. i did 'ngcc --target @danielmoncada/angular-datetime-picker' and it told me moment was missing as a dependency. Maybe it should be added as a peer dependency?

[2020-12-18 12:52] stepet80 opened #101 "var _moment__default = 'default' in _moment ? _moment['default'] : _moment;"
We have an issue with the umd bundle:
var _moment__default = 'default' in _moment ? _moment['default'] : _moment;

danielmoncada-angular-datetime-picker-10.js:7 Uncaught TypeError: Cannot use 'in' operator to search for 'default' in undefined

We are not using moment and don't have a _moment variable?

Could you make the library working without moment?

[2020-12-21 09:20] Barzille commented on #92
Any update on this?

[2021-01-07 08:54] krisurnok commented on #92
Please let us know when we will get an update for Angular 11 version.

[2021-01-07 11:08] jcompagner commented on #92
all our tst that we do (we are already on 11 for a while now) the component works fine
so the for me the peer depedencies can just be adjusted to also support 11

[2021-01-10 13:43] sedran commented on #97
Hello @danielmoncada, any update on this issue? In case you are busy, if you tell me which files need to be changed I can try to help.

[2021-01-10 15:10] shakedhaim opened #102 "Owl date picker- panel class doesn’t seem to work"
I’m trying to override the date picker css with panel class, and it doesn’t seem to work.

HTML:
<div [owlDateTimeTrigger]=“dt”>
<input [owlDateTime]=“dt”>
<owl-date-time [panelClass]=“date-picker” #dt> </owl-date-time>
</div>

CSS:
.date-picker {
  display: none;
}

I’m trying this and the date picker is still shown.

[2021-01-18 06:22] Chinna2405 opened #103 "min property in edit page doesn't accepts the previous dates"
Hi,
I have used ng-pick-datetime in a project which has a create and edit page. On the create I have added the min as today's date if some one is creating with today's date and saving on going to the edit page the update button is enabled until today when we try to open the created one on the next date then the update button is disabled.
It accepts the ngModel value but the date wasn't today hence

[2021-01-23 23:28] danielmoncada commented on #92
so sorry, been super busy with everything at work. i'm allocating time this weekend to do this.

[2021-01-23 23:30] danielmoncada commented on #102
@shakedhaim  have you tried setting ngdeep?

[code]

[2021-01-24 01:52] danielmoncada commented on #97
fixed in https://github.com/danielmoncada/date-time-picker/pull/104

[2021-01-24 02:10] danielmoncada commented on #97
@sedran should be fixed in 10.2.0. thanks!

[2021-01-24 02:10] #97 closed

[2021-01-24 02:11] danielmoncada commented on #81
@igorlino  thanks for the PR! merged and released.

Check out version 10.2.0 👍

[2021-01-24 02:11] #81 closed

[2021-01-24 23:30] #87 closed

[2021-01-24 23:31] shaharzeira commented on #87
Don't know exactly what the change in the project was, but it doesn't happen anymore

[2021-01-25 09:50] jcompagner commented on #92
the new release didn't update these 3 peers yet i see:

https://github.com/danielmoncada/date-time-picker/blob/master/projects/picker/package.json#L27

[2021-01-25 17:20] danielmoncada commented on #92
@jcompagner right. I'll make a separate PR for that

[2021-01-25 19:06] danielmoncada commented on #92
merged with https://github.com/danielmoncada/date-time-picker/pull/106

@burner
@Barzille
@krisurnok
@jcompagner

newest version that supports ng11: https://www.npmjs.com/package/@danielmoncada/angular-datetime-picker

[2021-01-25 19:06] #92 closed

[2021-01-26 07:16] burner commented on #92
@danielmoncada thank you so much. All other datetime picker I tried for angular/material are a big pile of :hankey: in comparison

[2021-01-29 10:52] komu opened #107 "Invalid input is silently discarded"
I have an existing time in the picker, then open the picker and input invalid hour:

![Screenshot 2021-01-29 at 12 45 54](https://user-images.githubusercontent.com/3473/106265639-02ceed80-6230-11eb-8fc3-02b65a851b02.png)

Nothing is indicated as being invalid and _Set_ button is enabled. When I click _Set_, the valid parts of my input (minutes) are set to new values, but the invalid hours are not:

[2021-02-01 08:45] zak293 opened #108 "Translate buttons Not working"
Hey,
I try translate button cancel and set. My code below. What is wrong ?
I see always default labels.

Thanks :)

import {
  OWL_DATE_TIME_FORMATS,
  OWL_DATE_TIME_LOCALE,
  OwlDateTimeIntl,
  OwlDateTimeModule,
  OwlMomentDateTimeModule
} from '@danielmoncada/angular-datetime-picker';

class DefaultIntl extends OwlDateTimeIntl {
  public cancelBtnLabel = 'TEXT FOR CANCEL';
  public setBtnLabel

[2021-02-03 16:38] satifant commented on #108
It works for me with

[code]
You might be missing `@Injectable()`?

[2021-02-04 09:18] piernik opened #109 "Changelog"
Can You provide changelog?

[2021-02-08 09:11] SudarshanPH opened #110 "Changing the locale of the datepicker throws error"
Hey,
if we import { DateTimeAdapter, OwlDateTimeComponent } from 'ng-pick-datetime';
and set locale using this.dateTimeAdapter.setLocale(' fr '), datepicker throws error without displaying anything.

Screenshot of the Initial date-time picker
![Screenshot from 2021-02-08 11-02-24](https://user-images.githubusercontent.com/66046247/107198350-ff4f1980-6a1a-11eb-83df-4dc39066b84c.png)

Screenshot of

[2021-02-15 12:56] miamagana commented on #65
According to Angular's specification ja-JP is not a default name for the japanese locale, for that you should use it as 'ja'.

For a full list of supported locales:

-  https://github.com/angular/angular/tree/master/packages/common/locales

[2021-02-19 04:31] sudarshan-2012 commented on #110
any update on this @danielmoncada?

[2021-02-19 07:59] abdulrahman1997x opened #111 "Adding and removing elements"
Hey everyone
I would like to know if there's a way to add or remove the default buttons or adding new element to the time picker.

[2021-02-23 16:14] fdc80 commented on #110
Same problem with de, fr, it, es... any ideas?

[2021-02-25 01:38] coneill-relay commented on #93
Same here. Trying to upgrade an older app and came  to this forked project but it looks like this exports the module as es6 with `class` and IE11 doesn't work with it.

[2021-02-25 16:40] fdc80 commented on #110
I partially solved with import

`import localeIt from '@angular/common/locales/it';
import localeDe from '@angular/common/locales/de';
import localeEs from '@angular/common/locales/es';
import localeFr from '@angular/common/locales/fr';
import { DateTimeAdapter, OwlDateTimeIntl } from '@danielmoncada/angular-datetime-picker';`

and

`registerLocaleData(localeIt, 'it');
  registerLocaleData(localeD

[2021-02-25 17:35] fdc80 commented on #54
@Lempkin could you tell me where you put this code and how it worked? Thanks in advance

[2021-03-01 06:12] SudarshanPH commented on #110
yes @fdc80 , that is a good workaround but if we want it to work dynamically to many other languages, we cannot always import all the locales right

[2021-03-04 22:48] davewicklund commented on #110
Thank you very much @fdc80 your pointers were perfect!

What I did was dynamically load the locale I needed.
I followed Michaels post:
https://indepth.dev/posts/1038/dynamic-import-of-locales-in-angular

and added this method:
  importAndLoadLocale(locale) {

    import('@angular/common/locales/' + locale + '.js').then(module => {
      registerLocaleData(module.default);
      this.dateTimeAdapte

[2021-03-11 12:32] fdc80 commented on #108
@zak293  did you solved issue?

[2021-03-16 04:31] SudarshanPH commented on #110
Hi @davewicklund , in our case, we send hours and minutes static string to a language api which takes care of translations

[2021-03-16 05:41] danielmoncada commented on #111
@abdulrahman1997x  there's no way to move elements natively.

What are you looking to add  / remove, and why? I guess you could also go more of ad hoc route and remove stuff from the DOM.

[2021-03-16 05:42] danielmoncada commented on #110
Sorry, I've been at bit MIA due to the craziness at work lately. I'll do my best to look into this issue.

[2021-03-16 05:43] danielmoncada commented on #109
@piernik for what reason? I guess you could look at all the closed PRs?

[2021-03-16 05:45] danielmoncada commented on #108
@zak293 closing, as guidance has already been provided to solve your issue.

[2021-03-16 05:45] #108 closed

[2021-03-16 05:48] danielmoncada commented on #100
@stepet80  yeah, the dependency has been there since I forked the original. This is because the  author added the adapters as part of the package itself.

See discussion at: https://github.com/danielmoncada/date-time-picker/issues/20

[2021-03-16 05:48] #100 closed

[2021-03-16 05:49] danielmoncada commented on #103
@Chinna2405  can you post your code? Also note that the package you're using is different than package.

[2021-03-16 05:50] danielmoncada commented on #102
abandoning, as there has not been an update.

[2021-03-16 05:50] #102 closed

[2021-03-16 05:52] danielmoncada commented on #101
@stepet80 did you fix the issue?

You do not have to use the moment adapter.. the the adapter itself is included in the package (this was from the initial project).

For now, even if you are not using moment, you will need to add it as a devdependency.

[2021-03-16 05:52] #101 closed

[2021-03-16 05:54] danielmoncada commented on #93
adding this as an enhancement for now.

If IE11 is mandatory on your side, feel free to create a PR and I'l merge.

[2021-03-16 17:17] dmitry-bas opened #112 "Angular 11.2.5 support"
UnhandledPromiseRejectionWarning: Error: Symbol OwlDateTimeModule declared in /Users/dbas/WebstormProjects/DNOR/src/web-app/node_modules/@danielmoncada/angular-datetime-picker/lib/date-time/date-time.module.d.ts is not exported from @danielmoncada/angular-datetime-picker (import into /Users/dbas/WebstormProjects/DNOR/src/web-app/src/app/common/common.module.ts)
    at AbsoluteModuleStrategy.emit (

[2021-03-18 17:41] POFerro opened #113 "Latest version of picker breaks startView"
Hi,

Since I installed the version 11.0.0 I can't no longer set startView in html.
I get the error: Type '"year"' is not assignable to type 'DateView'

The sample as shown in: https://daniel-projects.firebaseapp.com/owlng/date-time-picker#starting-view doesn't seem to be working any more.

Am I missing something? How do I set startView from the html view?

Thanks and best regards
POFerro

[2021-03-22 17:52] marukop commented on #54
Hello,

@StalinMazaEpn, I did the exact same way as you did. I still get the "Cancel" and "Set" label in buttons...
What is your library version?

Thanks,

[2021-03-29 14:33] Laurensvdw opened #114 "Unable to select the configured minDate when using pickerType="calendar""
Hi!

First of all, thank you for the fork and maintaining this library!

When we configure a minDate, e.g. new Date(), we are unable to select the configured date. Let's say for example we set minDate to 29 March 2021. Then we can't select that specific day in the calendar, only the days that follow up, like 30 March...
**Important**, this is only the case when using `pickerType="calendar"`.

Expe

[2021-04-09 19:22] JoostK commented on #110
We got bitten by this same issue; I believe it is due to https://github.com/danielmoncada/date-time-picker/pull/10/commits/407a7f8623f2ee42251e94415f9a2d382ea99b9a which starts to use `getLocaleFirstDayOfWeek`, thereby adding a dependency on the registered Angular locales. We used to derive the first day of the month using moment's locale data, but now the default first day of the week is computed

[2021-04-26 07:30] Sunny2720 opened #116 "Date range selector should not include disabled dates."
While selecting a date range, if there are any disabled dates, the range selector should not allow active dates to pass through disabled dates.
![image](https://user-images.githubusercontent.com/15946983/116044935-223eb080-a68f-11eb-8dd4-3ce2cac61165.png)
May 3 - May 17 is disabled.
![image](https://user-images.githubusercontent.com/15946983/116044883-1357fe00-a68f-11eb-8ff0-0ffa1399f89f.png)
User

[2021-04-27 02:47] #110 closed

[2021-04-27 02:47] danielmoncada commented on #110
fixed in latest version 11.0.0.1, thanks @JoostK !

[2021-05-02 11:24] bpanteleev opened #117 "Tabindex inside calender is not working correctly"
Tabindex inside calendar only allows to select a single date (i.e. only 7th day of the month).

![image](https://user-images.githubusercontent.com/82899736/116811436-e8b7ea80-ab51-11eb-8d77-73baf1998d5b.png)

Expected behavior: it should be possible to select any date via tab

[2021-05-14 13:27] AbhijithSajeev opened #118 "Date Range Picker from and to date change event and data binding"
Please add a change event whenever we change start date and end date and start time and end time. These events should fire with respective data whenever we change the values and not when we set the date picker. Also we should be able to change the start time and end time lively. For example if we select start time and we want to set end time by a business rule, by current implementation it is impo

[2021-05-24 10:56] abdulrahman1997x opened #120 "hijri support"
does date-time-picker support hijri calendar ?

[2021-05-24 16:50] danielmoncada commented on #112
12 is out. https://www.npmjs.com/package/@danielmoncada/angular-datetime-picker/v/12.0.0

[2021-05-24 16:50] #112 closed

[2021-05-24 17:01] danielmoncada commented on #113
@POFerro  it's an enum value.

Specify in HTML like this:

[code]

Then in ts, create a variable to bind to:

[code]

None of this changed, so it should work as previously. Maybe Angular changed how you can bind to enum types in NG11, and you cant use direct string -> enum any more.

[2021-05-25 22:15] Lonli-Lokli commented on #82
@danielmoncada I know it was in previous year, sorry about that. I've created PR one more time

[2021-06-03 11:18] deep913 opened #122 "(dateSelected) event, Date selection or range selection will give date"
Date selection event on date click and after close it will give date selected or multiple date selected in case of range in array, it requires because we need an event on Date click without saving it.

Please merge the following branch: https://github.com/deep913/date-time-picker

[2021-06-09 14:44] florisvanderhaar opened #125 "Missing dependency "Moment" on new and upgraded projects, while using OwlNativeDateTimeModule"
Even whilst not using Moment.js, there still appears to be a dependency for this date-time-picker. When you try to `npm start` a new or upgraded project, you will be hit with:
[code]

I was able to reproduce the error by creating a new angular app (with Angular Material) and setting up the imports:
[code]

In projects where we used this date-time-picker, we have always used `OwlNativeDateTimeModul

[2021-06-09 20:36] GFlores98 commented on #125
I solved installing moment.

`npm i moment`

[2021-06-10 06:51] florisvanderhaar commented on #125
Yes, installing Moment.js is a valid workaround for the immediate short term.

However, in doing so I will add a package to my application that's **not in active development** anymore, while I purposely configured the date-time-picker to use the `OwlNativeDateTimeModule` instead of Moment. This is a bad practice.

IMHO: The aim should always be to install the least amount of dependencies on a new

[2021-06-19 10:21] Crocsx commented on #20
Coming to this library since the "original" one is now not compatible anymore. Surprised this is still an issue a year later :/

[2021-06-23 13:26] amalgyte opened #126 "Double Click on date closes dialog."
In dialog mode, double click closes the dialog but no date is set (if not expecting time).
Rather than previous requesting on original source of  setting the picker date, how about having accessible lastDateSelected which is set every time a date is clicked,  then devs could use this if this to determine if a date was selected.  If cancel is clicked then the lastDateSelected = null.

Seems this ki

[2021-06-28 17:46] jessie-james opened #127 "Keyboard accessability"
Trying to add Enter or space Key press as a trigger. For keyboard accessibility.
https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/datepicker-dialog.html

Putting OwlDateTimeComponent.open() does not work when adding  it to my  keydown.enter function.
I can't tell users to using the ALT + DOWN_ARROW as  according to accessibility it needs to be either space or enter for keyboard acces

[2021-07-02 05:06] #122 closed

[2021-07-02 17:19] #127 closed

[2021-07-05 19:34] jnthnwn opened #128 "Allow customization for strings"
It would be useful to allow the user to customize the display text for the different UI elements and defaulting to the strings defined by `OWL_DATE_TIME_LOCALE`. For example, specifying MTWTFSS for the days of the week instead of short form (e.g. Mon) at the top of the calendar, or setting different text for the cancel/set buttons.

[2021-07-20 12:54] holo-ew opened #129 "Problem with time transition between DST and standard time"
You can't decrease hours when it's the time you would switch from daylight saving time to standard time.
I have a stackblitz that reproduces the problem, it's set to the 28th March 2021 at 2am, if you try to decrease from 2am to 1am it doesn't do anything.
https://stackblitz.com/edit/angular-ivy-vn5z7e

[2021-07-20 14:14] EricDitp commented on #125
Same here, uselessly importing moment, which I don't really want.
I would like to remove moment from my project a.s.a.p.

thanks for all the good work.

[2021-07-27 05:08] ysheep-js commented on #11
@danielmoncada Hello Daniel, thank you for porting this library.
I have to say I have the same problem and I fixed with these codes.
Please focus on this problem because I don't want to modify the source code in my local.
Thank you again.

[2021-08-02 12:36] dsnoeck commented on #54
Any chance to do it at runtime ?

[2021-08-02 12:38] dsnoeck commented on #128
See: https://danielykpan.github.io/date-time-picker/#locale-formats
And also: https://github.com/danielmoncada/date-time-picker/issues/54

[2021-08-04 13:12] decline commented on #125
Having the same problem here. Even though I'm using `OwlNativeDateTimeModule` (and **not** `OwlMomentDateTimeModule`), I'm still forced to install Moment.js which will then also end up in my production-bundle, causing an increase of ~350kb. That's just bad 😕

[2021-08-04 13:57] jcompagner commented on #125
i personally find it very weird that it still ends up in the production bundle
should angular treeshaking and so on take care of that?
Why would angular think it still references somehow?

[2021-08-04 16:10] zhenokin opened #130 "Error: Module not found: Error: Can't resolve '@danielmoncada/angular-datetime-picker/lib/date-time/adapter/native-date-time-adapter.class'"
package.json
[code]

app.module.ts

[code]

Created new app via **ng new projectName**. After **ng serve** command I get this error:
`./src/app/app.module.ts:4:0-132 - Error: Module not found: Error: Can't resolve '@danielmoncada/angular-datetime-picker/lib/date-time/adapter/native-date-time-adapter.class' in 'C:\...\Desktop\test\angular\src\app'`

[2021-08-04 16:30] jcompagner commented on #130
i think you can't do that. (import it like that)
i think NativeDateTimeModule  is exported but not the NativeDateTimeAdapter  (in public api)
so i don't think you can extend it

not sure why it is not exported here
https://github.com/danielmoncada/date-time-picker/blob/master/projects/picker/src/public_api.ts

[2021-08-04 17:37] zhenokin commented on #130
@jcompagner
I used https://github.com/DanielYKPan/date-time-picker on angular 6 and my case worked fine. But I'm trying to migrate to the latest angular version and I am faced with this problem.

[2021-08-06 11:53] zhenokin commented on #130
Can anyone know how this can be implemented in another way?
[code]

[2021-08-06 12:22] jcompagner commented on #130
i don't think you really can its not public api.
I think the component should also export NativeDateTimeAdapter  to be able to do this

[2021-09-10 13:58] POFerro commented on #113
Hi @danielmoncada ,

Thanks for the answer :).

This was broke on PR: #95 if you check the difference in [calendar.component.ts](https://github.com/danielmoncada/date-time-picker/commit/b8bb1a93af0351c21dd3d9dc2e658b91e1ea6726#diff-e37a83d4aab4f8d47a98d86cefe871e724d07f13e3cd770af633243a007647d1) you can see the type of startView has changed from string (restricted) to enum and this causes a break

[2021-09-10 14:27] khalla commented on #113
Hi @danielmoncada and @POFerro,

Actually **DateView** is not exported in  "@danielmoncada/angular-datetime-picker".
The workaround I found was to re-declare

[code]
and use this one instaed...

Thanks and best regards
Renato Vieira

[2021-09-10 23:32] tmburnell commented on #125
I bet this is the reason we get this error:
https://github.com/danielmoncada/date-time-picker/blob/714f752d36184c158481f878a4327b16641e090e/projects/picker/src/public_api.ts#L19

I will do some more testing.

[2021-09-13 15:09] tmburnell commented on #125
I did confirm if you drop
[code]
and
[code]
from the `public_api` it no longer errors saying moment is required.

[2021-10-27 10:29] bmickoski opened #132 "CSS style not imported in web component"
When using ViewEncapsulation.ShadowDom external lib css is not being imported in custom element component. Dynamic Form Component is defined as Custom Element which uses custom lib that imports date-time-picker.

[code]
Dynamic Component css file

[code]

And from the image below we can see that style is added in shadowRoot but it is still messed up.

![image](https://user-images.githubusercontent

[2021-11-10 10:58] Mekacher-Anis opened #133 "Angular V13 support."
Angular v13 has been released this week.
Any plans to publish a version that works with v13 ?
I suppose since the angular team is pushing to dropping View Engine, I think this would be a good time to switch to using native Ivy (no ngcc).  See this issue https://github.com/angular/angular-cli/issues/16980 .
I don't have any experience developing or building angular libraries, but I'm willing to get

[2021-11-10 14:43] renemadsen commented on #133
Any changes to this?

[2021-11-10 17:29] danielmoncada commented on #133
not yet.. I'll work on getting it out today.

[2021-11-10 19:36] danielmoncada commented on #130
This is implemented in version 12.2.0

[2021-11-10 19:36] #130 closed

[2021-11-10 19:38] danielmoncada commented on #58
closing, no update > 1 year

[2021-11-10 19:38] #58 closed

[2021-11-10 19:39] #62 closed

[2021-11-10 19:39] #79 closed

[2021-11-10 19:41] #109 closed

[2021-11-11 05:14] renemadsen commented on #133
@danielmoncada the fork was just an attempt to see, what is missing for updating to angular 13. But since I don't really know what the code is trying to do here, it's difficult to fix it:
https://github.com/microting/date-time-picker/runs/4169108246?check_suite_focus=true#step:6:15

[code]

    Argument of type 'Observable<never> | EventEmitter<boolean>' is not assignable to parameter of type 'num

[2021-11-12 16:08] marleypowell commented on #133
Does it work if you use a different overload of the `merge` operator? Wrap the observables in an array:
[code]

[2021-11-12 19:36] renemadsen commented on #133
Now it can build, but the tests are blowing up.

I don't know karma or how these tests are written, so I don't know how to debug them.
https://github.com/microting/date-time-picker/runs/4193651309?check_suite_focus=true#step:7:1

Any suggestions?

[2021-11-18 15:52] JSCharlot commented on #54
Here is what I did using translate service from ngx-translate :

**_date-time-intl.service_**

[code]

**_app.module.ts_**

[code]

Code taken and adapted from here : https://stackoverflow.com/questions/52115558/trying-to-translate-ngpickdatetime-labels-when-user-change-page-lang/56052098

[2021-11-18 18:43] harvanchik commented on #133
Any update on Angular 13 support?

[2021-12-05 05:12] #82 closed

[2021-12-05 06:00] danielmoncada commented on #133
Closed via https://github.com/danielmoncada/date-time-picker/pull/137

Can you guys @Mekacher-Anis @renemadsen @marleypowell @harvanchik  make sure it works on your project before I take it out of alpha? https://www.npmjs.com/package/@danielmoncada/angular-datetime-picker/v/13.0.0-alpha.0

[2021-12-05 06:01] #54 closed

[2021-12-05 06:03] danielmoncada commented on #74
@arslbbt  I haven't had time to look into this. This is over a year old, so just re-pining you on any updates. Feel free to create a PR if needed.

[2021-12-05 06:04] danielmoncada commented on #99
@amarkes  are you still having a problem?

[2021-12-05 06:08] #128 closed

[2021-12-05 06:13] danielmoncada commented on #117
@bpanteleev the calendar days themselves do not tab. You can select days within the calendar using your keyboard arrows and pressing "enter" when you want a particular day selected.

[2021-12-05 06:13] #117 closed

[2021-12-05 07:16] danielmoncada commented on #133
Your error indicates it cant find the coverage reporter when it runs.. a bit weird, as I set up the same workflow here and tests are running fine: https://github.com/danielmoncada/date-time-picker/actions

[2021-12-06 08:42] marleypowell commented on #133
Seems to be working for me with no errors. Nice work 🙂

[2021-12-06 12:07] renemadsen commented on #133
@marleypowell seems to work. And now I see the difference, I changed the package.json in the root project and not inside the projects folder.

That is what making my repository break.

But why do we have it like that?

[2021-12-06 20:16] danielmoncada commented on #133
this is how it was done by the original author. it's separated. the root project is for the "test" app that's coupled with the date/time picker library. any dependency changes on the library itself has to be done with the package.json in the 'projects' folder.

[2021-12-06 21:13] renemadsen commented on #133
Makes sense.

I'll try to upgrade it to angular 13, so the project is not so far behind.

[2021-12-07 04:19] danielmoncada commented on #133
closing issue, as this was geared towards ng 13 support. since it now works, I'll create a new issue to upgrade it to ng 13.

[2021-12-07 04:19] #133 closed

[2021-12-07 04:22] danielmoncada opened #141 "Upgrade to ng 13"
Currently, the library supports applications that run on ng 13, but the library itself still contains old ng dependencies. This is to upgrade fully to ng 13.

This includes:
- framework updates
- dependency updates
- ng 13 improvements
- see: https://blog.angular.io/angular-v13-is-now-available-cce66f7bc296

[2021-12-07 09:16] renemadsen commented on #141
@danielmoncada I belive I have fixed it to work with ng 13, but please do check it out, before we do a PR for the changes.

https://github.com/microting/date-time-picker/actions

I removed the references to older angular versions, since it was making my build proces spit random errors, since the upgrade to ng 13.

[2021-12-08 16:38] danielmoncada commented on #141
@renemadsen thanks, appreciate the work. I will take a look at it this weekend

[2021-12-10 14:16] POFerro commented on #141
Hi guys :),

I've updated my reference to version 13 of this library and it's still being built using View Engine instead of native Ivy, is this issue going to address that upgrade also?

Thanks
POFerro

[2021-12-14 18:23] BBanoth commented on #141
@danielmoncada , I am too getting the warning saying the package is built using View Engine

[2021-12-16 03:21] vn93ksatria commented on #141
@danielmoncada  do you have the moment version?

[2021-12-28 20:44] Rlcolli4 commented on #141
I am able to run this in Angular 13 but I am still getting the warning as well @BBanoth. Any update on what is causing this or what we may need to change to prevent it from happening?

[2021-12-29 00:06] seowzhenjun0126 commented on #125
Hi, is there any update on this? Thanks!

[2022-01-04 21:59] danielmoncada commented on #120
@abdulrahman1997x  no it doesnt

[2022-01-04 22:02] danielmoncada commented on #125
@seowzhenjun0126  no updates, I can look more into it this week.

In order to make the changes @tmburnell suggested, the "Moment Adapter Options" would need to be removed completely from this project, and ported over to a sub-project for those that are using them.

[2022-01-04 22:15] tenonedesign commented on #125
Thanks for all your good work with this, @danielmoncada .  Freeing up 350k from the production bundle will be a big boost.

[2022-01-06 09:39] mhamern commented on #141
@Rlcolli4 It is caused by [this line](https://github.com/danielmoncada/date-time-picker/blob/master/projects/picker/tsconfig.lib.prod.json#L4). The library is still build by the View Engine for backwards.

You can read more [here](https://blog.angular.io/upcoming-improvements-to-angular-library-distribution-76c02f782aa4)

[2022-01-08 08:25] danielmoncada commented on #65
Closing

[2022-01-08 08:25] #65 closed

[2022-01-08 08:26] danielmoncada commented on #91
@ArtzGroup currently not possible. I'll add this as an enhancement

[2022-01-08 08:26] danielmoncada commented on #111
closing, old topic, no reponses

[2022-01-08 08:26] #111 closed

[2022-01-08 08:27] danielmoncada commented on #103
closing old topic, no responses

[2022-01-08 08:27] #103 closed

[2022-01-08 08:35] danielmoncada commented on #114
solution provided in original comment. closing

[2022-01-08 08:35] #114 closed

[2022-01-08 08:44] danielmoncada commented on #113
@khalla  and @POFerro  added DateView enum to api, per https://github.com/danielmoncada/date-time-picker/pull/142.

Will be available in 13.0.1.

[2022-01-08 08:44] #113 closed

[2022-01-08 10:43] krusche commented on #141
any update on this issue? when can we expect a version which is fully compatible with Angular 13? Thanks!

[2022-01-08 10:47] danielmoncada commented on #20
Okay.. finally had time to remove the MomentAdapter, and extract it out into a separate project.

This is in the latest version (https://github.com/danielmoncada/date-time-picker/pull/143) v13.1.0.

If anyone does need a MomentJs adapter, you can find it here [npm](https://www.npmjs.com/package/@danielmoncada/angular-datetime-picker-moment-adapter) or [GitHub](https://github.com/danielmoncada/date

[2022-01-08 10:47] #20 closed

[2022-01-08 10:48] danielmoncada commented on #125
Okay.. finally had time to remove the MomentAdapter, and extract it out into a separate project.

This is in the latest version (https://github.com/danielmoncada/date-time-picker/pull/143) v13.1.0.

If anyone does need a MomentJs adapter, you can find it here [npm](https://www.npmjs.com/package/@danielmoncada/angular-datetime-picker-moment-adapter) or [GitHub](https://github.com/danielmoncada/date

[2022-01-08 10:48] #125 closed

[2022-01-08 10:51] danielmoncada commented on #141
@krusche I just spent the last few hours creating a new version without the MomentAdapter and closing some other small defects..

The issue here is if I don't allow View Engine, then it won't be backwards compatible anymore and that may break a lot of people's projects on older versions of Angular.

I could maintain two separate branches, but that's always a pain, cherry-picking issues to/from bra

[2022-01-08 19:46] krusche commented on #141
I would suggest to release a new major version that only supports Angular 13 with Ivy and which completely drops View Engine. This is how other libraries handle it as well and I believe this is also what the Angular team has in mind. Supporting both will be difficult and might even become more difficult in the future.

In case of important bugfixes, you could still integrate them into older releas

[2022-01-08 21:12] danielmoncada commented on #141
@krusche  yeah, I was thinking that too.. I'm assuming that's the only feasible way to handle this issue.

Also, the MomentJs adapter has already been removed and extracted in the latest version. I'll go ahead and make a DayJs one as well.

[2022-01-09 16:26] krusche commented on #141
Just saw that we have a custom component which does the conversion: https://github.com/ls1intum/Artemis/blob/develop/src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts

So we would not need a DayJsAdapter

[2022-01-11 03:38] seowzhenjun0126 commented on #125
Thank you so much for your work! Appreciate it

[2022-01-11 05:55] danielmoncada commented on #125
@seowzhenjun0126  thanks!

[2022-01-21 14:46] krusche commented on #141
any updates on the Angular 13 upgrade?

[2022-01-28 18:54] Rlcolli4 commented on #141
@danielmoncada if it makes you feel better, npmjs.org does allow users to install older versions of the package if they do not want to run the newest version of Angular.

Also any updates on the progress of this upgrade?

[2022-02-09 08:31] Mekacher-Anis commented on #141
@danielmoncada
any updates on this ? and thank you for doing this awesome job of maintaining the library, it's heroes like you that keep the world running !!
let me know if you need help with the update.

[2022-02-18 09:57] alexbu92 opened #147 "No way to clear datepicker value"
When using the datepicker to act as a filter on a list of items, there's no easy way to clear the input (i.e. start date and end date are filled but then user wants to clear end date to be able to see all events from start date on). Does this necessarily need to be forked to be able to add this feature or did I overlook a method?

[2022-03-03 09:12] inpercima opened #150 "Testing with jest - Unexpected value 'OwlDateTimeModule' imported by the module"
I like this component and I also will help if needed.

At the moment I do have some trouble with the current version 13.1.1 and testing my angular app with jest.
I have no idea if this is connected to the issue: https://github.com/danielmoncada/date-time-picker/issues/141.

I have a shared Module importing and exporting `OwlDateTimeModule` and `OwlNativeDateTimeModule`.

I include it in my test an

[2022-03-22 16:21] pfms84 opened #151 "Use ivy in partial mode when compiling"
Since the legacy view engine has been completely removed from angular 13 there's no point in compiling this library with ivy completely disabled and then clients need to use ngcc to make it compatible with ivy.

[2022-04-03 15:49] q-garethallenstringer commented on #141
If it's a blocker, I don't believe it would be a problem to release a v14 as this is what [@ngx-translate/core](https://github.com/ngx-translate/core#installation) has done

[2022-04-06 14:59] jbval opened #152 "Bypass time start refresh on rangemode"
Hello,
I'm using the time picker in range mode.
I set a start time (ie 08:30), if i clear the end time, and start typing 1 (for 11:30 by ex) on the first input it change the start time to 01:xx.
I see that the effect come from date-time-picker-container in the timeSelected method but i can't find a simple workarround (disable check between start and enddate except on lose focus ).
Is there a way t

[2022-04-19 14:38] SkCodeRains opened #153 "how to use this picker in shadow Dom enabled mode"

[2022-04-19 14:47] ankurrai2602 commented on #132
May i know, Why this issue got closed without any reply. i am looking  for solution of this problem

[2022-04-30 18:50] danielmoncada commented on #151
Duplicate: https://github.com/danielmoncada/date-time-picker/issues/141

[2022-04-30 18:50] #151 closed

[2022-04-30 18:51] danielmoncada commented on #71
stale, closing

[2022-04-30 18:51] #71 closed

[2022-04-30 18:51] danielmoncada commented on #99
stale, no response from OP

[2022-04-30 18:51] #99 closed

[2022-04-30 18:54] danielmoncada commented on #150
thanks @inpercima appreciate you willing to help. let me try and work on the ng13 upgrade, then you can retest to see if it fixes it. I'm assuming we just need to annotation added.

[2022-04-30 19:07] danielmoncada commented on #132
Never heard back from OP.

I'll re-open, thanks for replying.

[2022-05-01 04:42] danielmoncada commented on #141
hey everyone.. I've updated it to support full ng13. Version 14.0.0 is out on npm now.
sorry for the delay.

[2022-05-01 04:42] #141 closed

[2022-05-09 08:17] tanmayrsm opened #157 "dialog mode, only calendar issues"
If we use date-time picker with below conf -
[code]

I'm facing 2 issues using above configurations -
1. **Double click** on any 'date', closes the dialog. And input-text remains empty. In other modes (time and calendar combined), dialog doesn't closes on double-click on any date
2. If I open dialog, and directly click **'SET'**, current date is selected and shown in input-textbox. Problem is, if

[2022-05-19 14:11] anura-apps opened #158 "Timer popup : unable to use keyboard to enter numbers"
Hi @danielmoncada,

Since I migrated your great and really useful component from "ng-pick-datetime": "^7.0.0" to "@danielmoncada/angular-datetime-picker": "^12.3.0", the timer popup is no longer editable via the keyboard. I can only use the arrows and the mouse scroll.

My angular version is 12.2.16.

![Capture d’écran 2022-05-19 à 16 10 16](https://user-images.githubusercontent.com/81179957/169

[2022-05-19 14:21] anura-apps opened #159 "Calendar popup position"
Hi @danielmoncada,

When I click on the input that triggers the calendar popup, the popup overlay the input and don't appear below it.

<input class="input-date-picker-maia" [owlDateTime]="date" [owlDateTimeTrigger]="date" [(ngModel)]="ficheSuivi.date">
<owl-date-time #date pickerType="calendar" firstDayOfWeek="1"></owl-date-time>

It occurs most of the times in a scrolling modal page.

The angula

[2022-06-06 07:57] klemenzeleznik opened #160 "Angular V14 support"
Could Angular V14 support be added.

Thanks

[2022-06-06 19:22] crh225 commented on #160
https://github.com/danielmoncada/date-time-picker/pull/137/commits/a0d7d5151b4bfbc3d2a2493182fe0c328b19bbc4
Can probably use this pr as a reference

[2022-06-08 13:07] danielmoncada commented on #160
yep, I know how to migrate.

I'll work on this later this week.. currently at a conference

[2022-06-08 13:29] BastienLedon commented on #160
Ah my bad, I didn't see your comment and just created a PR, you can close it if you prefer https://github.com/danielmoncada/date-time-picker/pull/161

[2022-06-08 15:43] danielmoncada commented on #160
@BastienLedon no problem, appreciate the PR. I can merge it and publish when I get back

[2022-06-21 11:10] leeviViertola opened #162 "Start time changes when typing end time"
Start time changes when typing end time in range mode if the start and end are on the same day

![2022-06-21-14-05-01](https://user-images.githubusercontent.com/62235801/174785353-c4470f76-a7d6-44a9-b7ea-0c1f16f11c5e.gif)

It would be great to get this fixed soon 😄

[2022-06-24 15:28] NetWin commented on #160
Is there any update on the Angular14 support?

Are you back again? ^^

[2022-06-27 04:09] phuongthanh712 commented on #158
I also help this issue on the modal (currently, I use the Ionic modal and not able to select the input field)

[2022-06-27 14:19] #160 closed

[2022-07-26 12:52] imdanielaalves opened #164 "Max Date doesn't work properly"
**Angular Version:** 12.2.13
**Date Time Picker Version:** 13.1.1
**Date Time Picker Dayjs Adapter:** 1.1.1

I'm replacing the MomentJS to DayJS in my project.
When I define the 'max' input with the current date, in the datepicker I can't select the current day. If I enter manually works.

**Max Date:** 26.07.2022 13:49

**Date Time Picker:**
![image](https://user-images.githubusercontent.com/8910

[2022-07-26 13:14] imdanielaalves opened #165 "Invalid Date"
**Angular Version:** 12.2.13
**Date Time Picker Version:** 13.1.1
**Date Time Picker Dayjs Adapter:** 1.1.1

When I enter an invalid in the date time picker manually, doesn't display an error telling me that I have an invalid. But, the date is refreshed to a valid one.

**The value I define:**
![image](https://user-images.githubusercontent.com/89107468/181014130-e070a2ed-765c-4652-b33f-1b68fb6f3c8

[2022-08-25 09:29] NishaJKulal opened #166 "extending NativeDateTimeAdapter: error NG2003: No suitable injection token for parameter 'owlDateTimeLocale' of class 'CustomDateTimeAdapter'"
Could you please provide details on what is the right approach to use custom Date time picker?

The one mentioned below does not work
https://danielykpan.github.io/date-time-picker/#locale-formats

We have tried implementing referring to the code snippet in - https://github.com/danielmoncada/date-time-picker/issues/130#issuecomment-894207777

We need to inject a service in the CustomDateTimePicker

[2022-09-23 17:06] #162 closed

[2022-10-11 11:50] Dhamu143 opened #168 "getting error while importing in app module"
![image](https://user-images.githubusercontent.com/20680578/195082272-8f5c1527-6ac5-4cc4-b8e8-89b1ca3a64d5.png)

[2022-11-10 04:58] nharshavreddy opened #169 "danielmoncada / date-time-picker moment"
The time picker not working properly "@danielmoncada/angular-datetime-picker-moment-adapter" with adapter we in the angular 13 we are not able to fix.
Can you please me how use moment

[2022-11-15 22:33] memenpu opened #170 "Manually input random numbers and got valid outputs. These input fields should be all invalid."
Reproduce this on the office site.
[https://daniel-projects.firebaseapp.com/owlng/date-time-picker](https://daniel-projects.firebaseapp.com/owlng/date-time-picker)
![image](https://user-images.githubusercontent.com/44709023/202038991-55538d91-bb52-4499-8e4c-bc0baa20e475.png)